@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3qtuqm');
  src:  url('fonts/icomoon.eot?3qtuqm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3qtuqm') format('truetype'),
    url('fonts/icomoon.woff?3qtuqm') format('woff'),
    url('fonts/icomoon.svg?3qtuqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-360:before {
  content: "\e900";
}
.icon-area:before {
  content: "\e901";
}
.icon-arrow_big_left:before {
  content: "\e902";
}
.icon-arrow_big_right:before {
  content: "\e903";
}
.icon-arrow_dropdown_down:before {
  content: "\e904";
}
.icon-arrow_dropdown_left:before {
  content: "\e905";
}
.icon-arrow_dropdown_right:before {
  content: "\e906";
}
.icon-arrow_right:before {
  content: "\e907";
}
.icon-bakery:before {
  content: "\e908";
}
.icon-Bank:before {
  content: "\e909";
}
.icon-bathroom:before {
  content: "\e90a";
}
.icon-beach:before {
  content: "\e90b";
}
.icon-bedroom:before {
  content: "\e90c";
}
.icon-building:before {
  content: "\e90d";
}
.icon-cafe:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-cancel:before {
  content: "\e910";
}
.icon-checkbox_active:before {
  content: "\e911";
}
.icon-checkbox:before {
  content: "\e912";
}
.icon-conditioner:before {
  content: "\e913";
}
.icon-country:before {
  content: "\e914";
}
.icon-dentist:before {
  content: "\e915";
}
.icon-doctor:before {
  content: "\e916";
}
.icon-elevator:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-floor:before {
  content: "\e919";
}
.icon-fullscreen:before {
  content: "\e91a";
}
.icon-furniture:before {
  content: "\e91b";
}
.icon-garden:before {
  content: "\e91c";
}
.icon-grid:before {
  content: "\e91d";
}
.icon-hospital:before {
  content: "\e91e";
}
.icon-linked_in:before {
  content: "\e91f";
}
.icon-list:before {
  content: "\e920";
}
.icon-map:before {
  content: "\e921";
}
.icon-more:before {
  content: "\e922";
}
.icon-no_image:before {
  content: "\e923";
}
.icon-parking:before {
  content: "\e924";
}
.icon-pencil:before {
  content: "\e925";
}
.icon-petrol:before {
  content: "\e926";
}
.icon-pharmacy:before {
  content: "\e927";
}
.icon-police:before {
  content: "\e928";
}
.icon-posts:before {
  content: "\e929";
}
.icon-price:before {
  content: "\e92a";
}
.icon-restaurant:before {
  content: "\e92b";
}
.icon-rooms:before {
  content: "\e92c";
}
.icon-school:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-security:before {
  content: "\e92f";
}
.icon-send_message:before {
  content: "\e930";
}
.icon-swim:before {
  content: "\e931";
}
.icon-twitter:before {
  content: "\e932";
}
.icon-university:before {
  content: "\e933";
}
.icon-up_page:before {
  content: "\e934";
}
.icon-wheelchair:before {
  content: "\e935";
}
.icon-wifi:before {
  content: "\e936";
}
.icon-window_view:before {
  content: "\e937";
}
