/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url('/fonts/opensans/light/opensans_light.eot');
  src: url('/fonts/opensans/light/opensans_light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans/light/opensans_light.woff') format('woff'),
  url('/fonts/opensans/light/opensans_light.ttf') format('truetype'),
  url('/fonts/opensans/light/opensans_light.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Light*/

/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url('/fonts/opensans/regular/opensans_regular.eot');
  src: url('/fonts/opensans/regular/opensans_regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans/regular/opensans_regular.woff') format('woff'),
  url('/fonts/opensans/regular/opensans_regular.ttf') format('truetype'),
  url('/fonts/opensans/regular/opensans_regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* END Regular*/

/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url('/fonts/opensans/semibold/opensans_semibold.eot');
  src: url('/fonts/opensans/semibold/opensans_semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans/semibold/opensans_semibold.woff') format('woff'),
  url('/fonts/opensans/semibold/opensans_semibold.ttf') format('truetype'),
  url('/fonts/opensans/semibold/opensans_semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold*/

/* BEGIN snell_round_hand*/
@font-face {
  font-family: 'snell_round_hand';
  src: url('/fonts/snell_round_hand/snell_round_hand.eot');
  src: url('/fonts/snell_round_hand/snell_round_hand.eot?#iefix') format('embedded-opentype'),
  url('/fonts/snell_round_hand/snell_round_hand.woff') format('woff'),
  url('/fonts/snell_round_hand/snell_round_hand.ttf') format('truetype'),
  url('/fonts/snell_round_hand/snell_round_hand.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END snell_round_hand*/

/* BEGIN snell_round_hand bold*/
@font-face {
  font-family: 'snell_round_hand_bold';
  src: url('/fonts/snell_round_hand/snell_round_hand_bold.eot');
  src: url('/fonts/snell_round_hand/snell_round_hand_bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/snell_round_hand/snell_round_hand_bold.woff') format('woff'),
  url('/fonts/snell_round_hand/snell_round_hand_bold.ttf') format('truetype'),
  url('/fonts/snell_round_hand/snell_round_hand_bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END snell_round_hand bold*/

/* BEGIN Thin*/
@font-face {
  font-family: 'modelica_thin';
  src: url('/fonts/modelica/thin/modelica_thin.eot');
  src: url('/fonts/modelica/thin/modelica_thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/modelica/thin/modelica_thin.woff') format('woff'),
  url('/fonts/modelica/thin/modelica_thin.ttf') format('truetype'),
  url('/fonts/modelica/thin/modelica_thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Thin*/

/* BEGIN Light*/
@font-face {
  font-family: 'modelica_light';
  src: url('/fonts/modelica/light/modelica_light.eot');
  src: url('/fonts/modelica/light/modelica_light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/modelica/light/modelica_light.woff') format('woff'),
  url('/fonts/modelica/light/modelica_light.ttf') format('truetype'),
  url('/fonts/modelica/light/modelica_light.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Light*/

/* BEGIN Regular*/
@font-face {
  font-family: 'modelica_regular';
  src: url('/fonts/modelica/regular/modelica_regular.eot');
  src: url('/fonts/modelica/regular/modelica_regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/modelica/regular/modelica_regular.woff') format('woff'),
  url('/fonts/modelica/regular/modelica_regular.ttf') format('truetype'),
  url('/fonts/modelica/regular/modelica_regular.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Regular*/

/* BEGIN Regular*/
@font-face {
  font-family: 'modelica_medium';
  src: url('/fonts/modelica/medium/modelica_medium.eot');
  src: url('/fonts/modelica/medium/modelica_medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/modelica/medium/modelica_medium.woff') format('woff'),
  url('/fonts/modelica/medium/modelica_medium.ttf') format('truetype'),
  url('/fonts/modelica/medium/modelica_regular.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Regular*/

/* BEGIN Regular*/
@font-face {
  font-family: 'madras_bold_italic';
  src: url('/fonts/madras/madras_bold_italic.eot');
  src: url('/fonts/madras/madras_bold_italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/madras/madras_bold_italic.woff') format('woff'),
  url('/fonts/madras/madras_bold_italic.ttf') format('truetype'),
  url('/fonts/madras/madras_bold_italic.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Regular*/


/* BEGIN aileron_bold*/
@font-face {
  font-family: 'aileron_bold';
  src: url('/fonts/aileron/bold/aileron_bold.eot');
  src: url('/fonts/aileron/bold/aileron_bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/aileron/bold/aileron_bold.woff') format('woff'),
  url('/fonts/aileron/bold/aileron_bold.ttf') format('truetype'),
  url('/fonts/aileron/bold/aileron_bold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END aileron_bold*/


/* BEGIN aileron_semibold*/
@font-face {
  font-family: 'aileron_semibold';
  src: url('/fonts/aileron/semibold/aileron_semibold.eot');
  src: url('/fonts/aileron/semibold/aileron_semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/aileron/semibold/aileron_semibold.woff') format('woff'),
  url('/fonts/aileron/semibold/aileron_semibold.ttf') format('truetype'),
  url('/fonts/aileron/semibold/aileron_semibold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END aileron_bold*/

/* BEGIN montserrat_medium*/
@font-face {
  font-family: 'montserrat_medium';
  src: url('/fonts/montserrat/medium/montserrat_medium.eot');
  src: url('/fonts/montserrat/medium/montserrat_medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/montserrat/medium/montserrat_medium.woff') format('woff'),
  url('/fonts/montserrat/medium/montserrat_medium.ttf') format('truetype'),
  url('/fonts/montserrat/medium/montserrat_medium.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END aileron_bold*/

