@import "fonts";
@import "variables";
@import "forms";

section.objects_nav_section {
  padding: 15px 0;
  a.nav_link {
    padding: 5px 10px;
    i {
      font-size: 22px;
    }
    span {
      position: relative;
      top: -3px;
    }
    &.prev {
      float: left;
      i {
        margin-right: 10px;
      }
    }
    &.next {
      float: right;
      i {
        margin-left: 10px;
      }
    }
    &:hover {
      color: $main_brown_clr;
    }
  }
}

section.gallery_section {
  .gallery_container {
    max-width: 1400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    .gallery_view {
      position: relative;
      overflow: hidden;
      .gallery.slick-slider {
        .slick-arrow {
          position: absolute;
          top: 50%;
          margin-top: -27px;
          color: white;
          font-size: 55px;
          line-height: 50px;
          background: transparent;
          border: none;
          z-index: 99;
          &.slick-prev {
            left: 50px;
          }
          &.slick-next {
            right: 50px;
          }
        }
        .slick-list {
          .slick-track {
            .slick-slide {
              height: 700px;
              overflow: hidden;
              img {
                margin: 0 auto;
                height: 100%;
                //width: 100%;
              }
            }
          }
        }
      }
      .fullscreen_btn {
        position: absolute;
        left: 25px;
        top: 25px;
        line-height: 1;
        opacity: 1;
        font-size: 32px;
      }
      .object_title {
        position: absolute;
        bottom: 30%;
        width: 100%;
        color: white;
        text-transform: uppercase;
        z-index: 2;
        padding: 0 80px;
        h2 {
          text-align: center;
          font-size: 3.125rem;
          font-family: opensans_semibold;
        }
        h3 {
          text-align: center;
          font-size: 1.375rem;
        }
        .object_status {
          margin: 0 auto;
          background: $main_brown_clr;
          color: $main_light_clr;
          font-size: 1.25rem;
          display: table;
          text-align: center;
          padding: 7px 30px 6px;
        }
      }
      .panorama_link_container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -5%;
          right: -125px;
          width: 130%;
          height: 120%;
          background-color: rgba(0, 0, 0, 0.5);
          @include my_transform(rotate(13deg));
        }
        button {
          font-size: 1.25rem;
          text-transform: uppercase;
          z-index: 2;
          position: absolute;
          bottom: 60px;
          right: 35px;
          i {
            margin-left: 20px;
          }
        }
      }
      #object_panorama {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
      }
      .close_panorama {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -85px;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: uppercase;
        z-index: 101;
        .icn {
          margin-right: 10px;
          display: block;
          float: left;
          @include my_transform(rotate(180deg));
        }
      }
    }
    .gallery_nav {
      .gallery_thumbnails.slick-slider {
        &.details_gallery_thumbnails {
          margin: 20px -9px 0;
        }
        &.promotion_gallery_thumbnails {
          margin: 20px 0 0;
        }
        .slick-list {
          .slick-track {
            .slick-slide {
              padding: 0 10px;
              cursor: pointer;
              height: 120px;
              &.slick-current {
                position: relative;
                &:before {
                  content: '';
                  display: block;
                  width: calc(100% - 20px);
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 10px;
                  background-color: $main_brown_clr;
                  opacity: 0.7;
                  z-index: 1;
                }
              }
              img {
                margin: 0 auto;
                position: relative;
                max-width: 100%;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    &.display_panorama {
      .gallery_view {
        #object_panorama {
          display: block;
        }
        .close_panorama {
          display: block;
        }
      }
      .gallery_nav {
        opacity: 0.3;
        pointer-events : none;
      }
    }
    >.container-fluid {
      padding: 0 5px;
      .parameters_container {
        overflow: hidden;
        padding: 0 10px 10px;
        ul.parameters {
          padding: 20px 20px;
          display: table;
          margin: 0 auto;
          background: $main_dark_clr;
          @include my_box_shadow(0px 0px 20px -5px black);
          li {
            display: inline-block;
            margin-right: 20px;
            text-align: center;
            padding: 5px 0;
            &.no_text {
              margin-right: 10px;
              &:last-child {
                margin-right: -10px;
              }
            }
            i {
              font-size: 1.375rem;
              line-height: 1.25rem;
              float: left;
              color: $main_brown_clr;
            }
            .prop_val {
              font-size: 1rem;
              margin-left: 10px;
              span {
                color: $main_light_clr;
              }
            }
            &.inactive {
              opacity: 0.3;
            }
          }
        }
      }
    }
    .social_networks_share {
      position: absolute;
      right: 30px;
      top: 15px;
      z-index: 1;
      padding: 10px;
      background: rgba($main_dark_clr, 0.5);
    }
  }
}

section.agent_info_section {
  .outer_block_container {
    margin-top: 40px;
    .inner_block_container {
      padding: 40px 75px;
      .object_info {
        text-align: right;
        .object_id {
          font-size: 1.25rem;
          line-height: 1.25rem;
          text-transform: uppercase;
          color: $main_light_clr;
          margin-bottom: 10px;
        }
        .object_price {
          background: $main_brown_clr;
          color: $main_light_clr;
          font-size: 1.25rem;
          text-align: center;
          padding: 12px 35px 11px;
          display: table;
          margin-bottom: 10px;
          float: right;
        }
        .btn {
          height: 50px;
          line-height: 50px;
          padding: 0 35px;
        }
      }
    }
  }
}

section.object_info_section {
  .outer_block_container {
    margin-top: 20px;
    .inner_block_container {
      p.publication_date {
        opacity: 0.5;
        margin-bottom: 20px;
        span:last-of-type {
          float: right;
        }
      }
      p.description {
        font-family: opensans_light;
        &:last-of-type {
          margin-bottom: 60px;
        }
      }
      .object_details_container {
        h4 {
          font-size: 1.25rem;
          margin: 30px 0 20px 0;
          text-transform: uppercase;
          padding-bottom: 10px;
          border-bottom: 1px solid $main_brown_clr;
        }
        ul.object_info_list {
          display: table;
          width: 100%;
          padding-left: 15px;
          li {
            float: left;
            width: 33%;
            margin-bottom: 30px;
            position: relative;
            padding-right: 20px;
            font-family: opensans_light;
            font-size: 1rem;
            opacity: 1;
            &:before {
              content: '';
              display: block;
              width: 5px;
              height: 5px;
              @include my_border_radius(50%);
              background-color: $main_brown_clr;
              position: absolute;
              left: -15px;
              top: 9px;
            }
            .detail_name {
              color: $main_brown_clr;
              float: left;
              width: 50%;
              position: relative;
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              &:after {
                content: '';
                height: 2px;
                width: 100%;
                border-bottom: 1px solid #444444;
                position: absolute;
                bottom: 2px;
                margin-left: 4px;
              }
            }
            .detail_value {
              padding-left: 10px;
              text-transform: lowercase;
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              width: 50%;
              text-overflow: ellipsis;
            }
          }
          &.main_info {
            border-bottom: 1px solid $main_brown_clr;
            margin-bottom: 20px;
            li {
              margin-bottom: 15px;
              &:before {
                display: none;
              }
            }
          }
        }
        h5 {
          font-size: 1rem;
          text-transform: uppercase;
          color: $main_brown_clr;
          text-decoration: underline;
          margin-left: 20px;
        }
        ul.object_add_info_list {
          position: relative;
          display: inline-block;
          margin-bottom: 20px;
          margin-left: 20px;
          &:before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            @include my_border_radius(50%);
            background-color: $main_brown_clr;
            position: absolute;
            left: -15px;
            top: 9px;
          }
          li {
            float: left;
            line-height: 1rem;
            padding-right: 10px;
            margin-right: 10px;
            margin-bottom: 5px;
            border-right: 2px solid $main_brown_clr;
            &:last-of-type {
              border: none;
              margin: 0;
              padding: 0;
            }
          }
        }
        .energy_block {
          font-size: 0.875rem;
          .energy_block_title {
            margin-bottom: 10px;
            h5 {
              text-align: center;
              margin: 0 0 10px;
            }
            p {
              text-align: center;
            }
          }
          .energy_block_value {
            margin-bottom: 10px;
            display: table;
            width: 100%;
            p {
              display: table-cell;
              &:last-of-type {
                text-align: right;
                white-space: nowrap;
              }
            }
          }
          .energy_block_diagram {
            display: table;
            width: 100%;
            margin-bottom: 20px;
            .energy_block_diagram_left {
              float: left;
              padding-right: 10px;
              p {
                font-size: 0.75rem;
                &:first-of-type {
                  margin-bottom: 5px;
                }
                &:last-of-type {
                  margin-top: 5px;
                }
              }
              img {
                position: relative;
                z-index: 1;
              }
            }
            .energy_block_diagram_right {
              text-align: right;
              position: relative;
              .energy_block_diagram_pointer_line {
                position: absolute;
                top: 36px;
                display: block;
                content: '';
                height: 1px;
                width: 100%;
                border-top: 1px dashed $main_light_clr;
                z-index: 0;
              }
              p:first-of-type {
                margin-bottom: 5px;
                font-size: 0.75rem;
              }
              .energy_block_diagram_pointer {
                position: absolute;
                top: 22px;
                right: 0;
                z-index: 1;
                .energy_block_diagram_arrow {
                  background: url(/img/details/energy_pointer.svg) right center no-repeat;
                  height: 29px;
                  min-width: 61px;
                  position: relative;
                  span {
                    font-family: opensans_semibold;
                    font-size: 0.85rem;
                    color: $main_dark_clr;
                    width: 50px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    line-height: 29px;
                  }
                }
                p {
                  font-size: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.location_section {
  .map_container {
    position: relative;
    margin-top: 20px;
    #object_map {
      visibility: visible;
      height: 650px;
      width: 100%;
      .place-content {
        color: $main_dark_clr;
      }
    }
    .map_sidebar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      padding: 38px 40px;
      ul {
        @include my_box_shadow(0px 0px 20px -5px black);
        li {
          display: table;
          width: 100%;
          .checkbox_container {
            background: white;
            display: table;
            border-bottom: 1px solid rgba($main_dark_clr, 0.1);
            input[type="checkbox"] {
              display: none;
            }
            label.checkbox_label {
              line-height: 40px;
              width: 40px;
              text-align: center;
              margin: 0;
              position: relative;
              cursor: pointer;
              i.icn {
                opacity: 0.3;
              }
              span {
                position: absolute;
                top: 0;
                left: 40px;
                line-height: 40px;
                padding: 0;
                background: white;
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                @include my_transition(0.3s);
              }
              &:hover {
                span {
                  padding: 0 20px;
                  width: auto;
                }
              }
            }
            input[type="checkbox"]:checked + label.checkbox_label {
              i.icn {
                opacity: 1;
              }
            }
          }
          &:last-of-type {
            .checkbox_container {
              border-bottom: none;
            }
          }
          &.map_banks .checkbox_container label.checkbox_label {
            color: #424f89;
          }
          &.map_bakeries .checkbox_container label.checkbox_label {
            color: #2989a5;
          }
          &.map_cafes .checkbox_container label.checkbox_label {
            color: #0295c4;
          }
          &.map_dentists .checkbox_container label.checkbox_label {
            color: #475c56;
          }
          &.map_schools .checkbox_container label.checkbox_label {
            color: #477664;
          }
          &.map_hospitals .checkbox_container label.checkbox_label {
            color: #1ba570;
          }
          &.map_doctors .checkbox_container label.checkbox_label {
            color: #b3d540;
          }
          &.map_parkings .checkbox_container label.checkbox_label {
            color: #fcba26;
          }
          &.map_pharmacies .checkbox_container label.checkbox_label {
            color: #f36326;
          }
          &.map_police .checkbox_container label.checkbox_label {
            color: #f36326;
          }
          &.map_post_offices .checkbox_container label.checkbox_label {
            color: #e5232b;
          }
          &.map_restaurants .checkbox_container label.checkbox_label {
            color: #f25c8e;
          }
          &.map_gas_stations .checkbox_container label.checkbox_label {
            color: #ff78ce;
          }
          &.map_universities .checkbox_container label.checkbox_label {
            color: #d462fa;
          }
        }
      }
    }
  }
}