@import "fonts";
@import "variables";
@import "forms";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font: 16px 'opensans_light';
  color: $main_light_clr;
  background: $main_dark_clr;
  position: relative;
  width: 100%;
  min-height: 100%;
  &.preloader_active {
    height: 100vh;
    overflow: hidden;
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(/img/bg_pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    z-index: -1;
  }
}

.container-fluid {
  max-width: 1200px;
}

a, a:active, a:focus, a:visited, a:hover {
  color: $main_light_clr;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}

.margin_top_10 {
  margin-top: 10px;
}
.margin_top_15 {
  margin-top: 15px;
}
.margin_top_20 {
  margin-top: 20px;
}
.margin_top_30 {
  margin-top: 30px;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin_bottom_20 {
  margin-bottom: 20px;
}
.margin_bottom_30 {
  margin-bottom: 30px;
}

.gradient_bottom {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: 1;
  @include my_gradient_bg(rgba(black, 0.5))
}

.outer_block_container {
  padding: 13px;
  background: $main_dark_clr;
  @include my_box_shadow(0px 0px 20px -5px black);
  .inner_block_container {
    border: 1px solid #ccac83;
    padding: 40px;
    position: relative;
  }
}

h1.no_results {
  text-align: center;
  margin-top: 60px;
  font-size: 1.25rem !important;

  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccac83;
}

header {
  position: fixed;
  top: 0;
  z-index: 99991;
  display: table;
  width: 100%;
  background: $main_dark_clr;
  @include my_box_shadow(0px 6px 20px -10px black);
  .logo {
    float: left;
    padding: 23px 0;
    @include my_transition(.2s ease-in-out);
    img {
      max-width: 90px;
      max-height: 90px;
      @include my_transition(.2s ease-in-out);
    }
  }
  .navigation_container {
    padding-top: 15px;
    @include my_transition(.2s ease-in-out);
    .navigation_block {
      position: relative;
      margin-left: 170px;
      @include my_transition(.2s ease-in-out);
      .header_tel {
        @include my_transition(.2s ease-in-out);
        font-size: 0.813rem;
        line-height: 27px;
        display: none;
      }
      h1 {
        font-size: 1.25rem;
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 0;
        border: none;
        line-height: 27px;
        color: #c3baac;
        span {
          white-space: nowrap;
        }
      }
      .lang_currency_container {
        float: right;
        li {
          float: left;
          ul.language_select {
            display: table;
            float: left;
            padding: 6px 0 0;
            @include my_transition(.2s ease-in-out);
            li {
              float: left;
              text-transform: uppercase;
              font-size: 0.813rem;
              padding: 1px 5px;
              border-right: 1px solid $main_light_clr;
              line-height: 0.813rem;
              &:first-of-type {
                padding-left: 0;
              }
              &:last-of-type {
                border-right: none;
                padding-right: 0;
              }
              a {
                &.active {
                  color: $main_brown_clr;
                }
              }
            }
          }
          .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
            line-height: 25px;
            padding: 0 30px 0 13px;
            text-transform: uppercase;
            font-size: 0.813rem;
            &::after {
              top: 11px;
              right: 10px;
            }
          }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
            min-width: 100%;
            li {
              float: none;
              text-transform: uppercase;
              font-size: 0.813rem;
            }
          }
        }
      }
      .last_updates {
        position: absolute;
        right: 0;
        bottom: -25px;
        font-size: 0.75rem;
        line-height: 1;
        //color: $main_brown_clr;
        font-family: opensans_semibold;

        color: $main_dark_clr;
        padding: 5px 15px;
        border: 1px solid #ccac83;
        background: rgba(#ccac83, 0.8);
        i {
          margin-right: 10px;
        }
      }
    }
    nav {
      width: calc(100% - 170px);
      margin-left: 170px;
      border-top: 1px solid rgba($main_gray_clr, 0.3);
      padding: 20px 0 15px;
      margin-top: 35px;
      @include my_transition(.2s ease-in-out);
      ul.nav {
        width: 100%;
        display: table;
        li.nav-item {
          margin-bottom: 10px;
          padding-right: 15px;
          display: inline-block;
          @include my_transition(.2s ease-in-out);
          &:last-of-type {
            padding-right: 0;
          }
          .nav-link {
            text-transform: uppercase;
            padding: 8px 5px;
            font-size: 1.063rem;
            line-height: 1.063rem;
            cursor: pointer;
            @include my_transition(.2s ease-in-out);
            border-bottom: 1px solid transparent;
            &.active {
              color: $main_brown_clr;
              font-family: opensans_regular;
              border-color: $main_brown_clr;
            }
            &:hover {
              color: $main_brown_clr;
              border-color: $main_brown_clr;
            }
          }

          button.btn {
            border: none;
            text-transform: uppercase;
            border-radius: 0;
            border-bottom: 1px solid transparent;
            font-family: opensans_light;
            &:focus {
              border-color: transparent!important;
            }
          }
          .dropdown-menu {
            background: $main_dark_clr;
            border-radius: 0;
            border-color: $main_gray_clr;
            .dropdown-item {
              color: $main_light_clr;
              padding: 3px 1rem;
              &.active,
              &:active,
              &:focus,
              &:hover {
                background-color: transparent;
                color: $main_brown_clr;
              }
            }
          }
        }
      }
    }
  }
  .menu-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    /* to center */
    margin: 0 auto;
    float: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 9999;
    > span {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color: $main_light_clr;
      border-radius: 0;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $main_light_clr;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      &:before {
        @include my_transform(translateY(-8px));
      }
      &:after {
        @include my_transform(translateY(8px));
      }
    }
  }
  &.opened .menu-icon {
    @include my_transform(rotate(45deg));
    span {
      &:before,
      &:after {
        @include my_transform(rotate(90deg));
      }
    }
  }
  &.minimized {
    .logo {
      padding: 10px 0;
      img {
        max-width: 52px;
        max-height: 52px;
      }
    }
    .navigation_container {
      padding-top: 5px;
      .navigation_block {
        margin-left: 100px;
        .header_tel {
          line-height: 20px;
          font-size: 0.75rem;
        }
        h1 {
          font-size: 0.875rem;
          line-height: 21px;
        }
        .lang_currency_container li {
          ul.language_select {
            padding: 5px 0 2px;
          }
        }
        .last_updates {
          display: none;
        }
      }
      nav {
        margin-top: 5px;
        margin-left: 100px;
        padding: 5px 0 10px;
        width: calc(100% - 100px);
        ul.nav {
          li.nav-item {
            margin-bottom: 0;
            padding-right: 15px;
            .nav-link {
              padding: 3px 5px;
              font-size: 0.75rem;
              line-height: 0.75rem;
            }
          }
        }
      }
    }
  }
  #outdatedBrowser {
    display: none;
    padding: 15px;
    text-align: center;
    color: $main_brown_clr;
    text-transform: uppercase;
    a {
      color: $main_brown_clr;
      text-decoration: underline;
    }
  }
}

main {
  padding-top: 156px;
}

section.search_section {
  margin-top: 70px;
  .outer_block_container {
    .inner_block_container {
      position: relative;
      .reset_filters_btn {
        position: absolute;
        width: 32px;
        height: 32px;
        text-align: center;
        padding: 5px;
        right: 15px;
        top: 15px;
        opacity: 0.5;
        @include my_transition(.2s ease-in-out);
        i {
          font-size: 26px;
          line-height: 22px;
        }
        &.active {
          cursor: pointer;
          opacity: 1;
          &:hover {
            @include my_transform(rotate(90deg));
          }
        }
      }
      ul.nav.nav-tabs {
        margin-top: 29px;
      }
      .input_container.search_input {
        margin-top: 10px;
      }
      button#submit_search_form {
        float: right;
        margin-top: 20px;
      }
      .show_options {
        text-align: center;
        padding: 15px;
        button {
          color: $main_brown_clr;
          margin: 0 auto;
          i.icn {
            display: block;
            float: right;
            line-height: 22px;
            margin-left: 10px;
          }
          &.more {
            display: none;
            i.icn {
              @include my_transform(rotate(-90deg));
            }
          }
          &.less {
            display: block;
            i.icn {
              @include my_transform(rotate(-270deg));
            }
          }
        }
      }
    }
  }
  form.minimized {
    .outer_block_container {
      .inner_block_container {
        .minimizable {
          display: none;
        }
        .show_options {
          button.more {
            display: block;
          }
          button.less {
            display: none;
          }
        }
      }
    }
  }
}

section.page_title_section {
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 99991;
  h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    border: none;
  }
  &.minimized {
    top: 68px;
    background-color: $main_dark_clr!important;
    h1 {
      padding: 10px 0;
      font-size: 1rem;
      border-top: 1px solid $main_gray_clr;
    }
  }
  &.hidden {
    display: none;
  }
}

.object_info_container {
  .object_info {
    background-color: #272727;
    padding: 30px 30px 20px 30px;
    @include my_box_shadow(0px 0px 20px -2px black);
    a {
      display: block;
      text-transform: uppercase;
      font-size: 1.5625rem;
      margin-bottom: 0;
      &:hover {
        color: #ccac83;
      }
    }
    .subtitle {
      display: table;
      width: 100%;
      span.price {
        font-size: 1.25rem;
        float: right;
        display: block;
      }
      span.city {
        display: block;
        float: left;
      }
    }
    .properties_block {
      border-top: 1px solid #ccac83;
      margin-top: 15px;
      .properties {
        text-align: center;
        display: table;
        width: auto;
        margin: 15px auto 0;
        li {
          float: left;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          .icn_container {
            .icn {
              color: #ccac83;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.agent_info_block {
  .agent_img {
    float: left;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    img {
      width: 150px;
      height: 150px;
    }
  }
  .agent_info {
    float: left;
    p {
      font-size: 1rem;
      margin-top: 20px;
    }
    .agent_name {
      margin: 30px 0 15px;
      font-size: 1.563rem;
      line-height: 1.563rem;
      text-transform: uppercase;
      color: $main_light_clr;
    }
    ul {
      display: table;
      width: 100%;
      li {
        font-size: 1rem;
        color: $main_light_clr;
        float: left;
        text-transform: uppercase;
        &:nth-child(2) {
          margin-left: 30px;
          padding-left: 30px;
          border-left: 2px solid $main_light_clr;
        }
        a {
          color: $main_light_clr;
        }
      }
    }
  }
}

.exclusive_label_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  .exclusive_label {
    padding: 9px 20px;
    font-size: 1rem;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    z-index: 1;
    background: rgba($main_dark_clr, 0.5);
  }
}

/*Slick START*/
.slick-slider {
  .slick-track {
    min-width: 100%;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    padding: 0;
    font-size: 54px;
    background: transparent;
    border: none;
    color: $main_light_clr;
    cursor: pointer;
    &:hover {
      @include my_transform(scale(1.2));
    }
    &.slick-next {
      right: -40px;
    }
    &.slick-prev {
      left: -40px;
    }
  }
}
/*Slick END*/

/* Bootstrap modal popup START*/
.modal {
  z-index: 999999;
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    margin: 0 auto;
    pointer-events:none;
    padding: 15px;
    .modal-dialog {
      max-width: 860px;
      &.vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events:none;
      }
      .modal-content {
        background-color: $main_dark_clr;
        padding: 15px;
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events:all;
        button.close {
          position: absolute;
          right: 15px;
          top: 15px;
          text-shadow: none;
          opacity: 1;
          font-size: 1.3rem;
          line-height: 1.3rem;
          padding: 10px;
          border-left: 1px solid $main_brown_clr;
          border-bottom: 1px solid $main_brown_clr;
          z-index: 1;
          color: white;
          &:hover {
            color: rgba(white, 0.8);
          }
        }
        .modal-body {
          border: 1px solid $main_brown_clr;
          padding: 90px 125px 45px;
          form {
            border-top: 1px solid $main_divider_clr;
            margin-top: 30px;
            padding-top: 30px;
            button.btn {
              margin-top: 5px;
              float: right;
            }
            .my_checkbox label .my_checkbox_text {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}
/* Bootstrap modal popup END*/

ul.social_networks_share {
  display: table;
  li {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
    a {
      color: $main_light_clr;
      i.icn {
        font-size: 14px;
      }
      &:hover {
        color: $main_brown_clr;
      }
    }
  }
}

nav {
  display: table;
  margin: 0 auto;
  ul.pagination {
    border: 1px solid $main_divider_clr;
    border-radius: 0;
    margin: 20px 0 0;
    background: $main_dark_clr;
    li.page-item {
      width: 37px;
      &:first-child .page-link {
        margin: 0 auto;
      }
      a.page-link {
        background-color: transparent;
        padding: 0;
        height: 40px;
        width: 19px;
        margin: 0 auto;
        line-height: 40px;
        text-align: center;
        border: none;
        border-radius: 0;
        color: $main_light_clr;
        font-size: 18px;
        &:focus,
        &:hover {
          color: $main_brown_clr;
          background-color: transparent;
          border: none;
          font-size: 22px;
          text-decoration: none;
        }
        &[aria-label="Previous"],
        &[aria-label="Next"] {
          font-size: 8px;
          line-height: 42px;
          color: $main_divider_clr;
          &:hover {
            font-size: 10px;
          }
        }
      }
      &.active {
        .page-link {
          background-color: transparent;
          font-size: 22px;
          color: $main_brown_clr;
          pointer-events: none;
          touch-action: none;
          cursor: default;
        }
      }
    }
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 90px;
  background: $main_dark_clr;
  section.top_footer_section {
    background-color: #323232;
    padding: 30px 0;
    h3 {
      margin-bottom: 20px;
      font-size: 1.25rem;
      text-transform: uppercase;
    }
    ul {
      li {
        margin-bottom: 15px;
        h2 {
          font-size: 0.75rem;
        }
      }
    }
  }
  section.bottom_footer_section {
    padding: 30px 0;
    h1 {
      font-size: 0.8125rem;
      margin-right: 50px;
      margin-bottom: 15px;
      text-align: justify;
      line-height: inherit;
      text-transform: none;
      border: none;
    }
    .copyright {
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 0.9375rem;
      margin-right: 0;
    }
    h4 {
      font-size: 1.3rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
    }
    .contact_block {
      margin: 34px auto;
      display: table;
      a.footer_logo_link {
        display: table-cell;
        float: left;
        padding-right: 20px;

        img {
          max-width: 100px;
          max-height: 100px;
        }
      }
      ul {
        font-size: 0.875rem;
        display: table-cell;
        vertical-align: middle;
        li:first-child {
          margin-bottom: 13px;
        }
      }
    }
  }
  ul.social_networks {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    li {
      margin: 0;
      a,
      a:visited,
      a:focus {
        color: $main_light_clr;
        display: block;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 1.25rem;
        text-decoration: none;
        i.icn {
          position: relative;
          top: 2px;
        }
      }
      &:hover {
        a {
          color: #ffffff;
          font-size: 1.5rem;
        }
      }
      &.scroll_to_top {
        display: none;
        background-color: $main_gray_clr;
      }
      &.twitter {
        background-color: #21aaf4;
      }
      &.facebook {
        background-color: #4464a2;
      }
      &.linkedin {
        background-color: #037cb6;
      }
    }
  }
}

.preloader_container {
  top: 0;
  position: fixed;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background: rgba($main_dark_clr, 0.98);
  .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    @include my_transform(translate(-50%,-50%));
  }
}

#response {
  position: absolute;
  bottom: -20px;
  p {
    margin: 0;
    padding-top: 5px;
    font-size: 0.75rem;
    &.error {
      color: $error_clr;
    }
    &.success {
      color: $success_clr;
    }
  }
}

section.virtual_tours_section {
  margin-top: 40px;
  .results_container.grid_view {
    .container-fluid {
      .object_block_container {
        .object_block {
          margin-top: 0!important;
          .info_block_container {
            .info_block {
              padding: 20px 30px 20px!important;
            }
          }
        }
      }
    }
  }
}

.g-recaptcha {
  float: right;
  margin: 10px 0 10px;
}