@import "fonts";
@import "variables";
@import "forms";

#index,
#france,
#swiss,
#usa,
#mauritius {
  section.top_offer_section {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .info_block {
      position: absolute;
      bottom: 40px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      z-index: 2;
      color: $main_xlight_clr;
      h1 {
        font-family: modelica_light;
        font-size: 3.125rem;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 1.563rem;
        margin-bottom: 25px;
      }
    }
  }

  section.index_main_carousel_section {
    position: relative;
    overflow: hidden;
    .slick-slider {
      .slick-arrow {
        z-index: 99;
        &.slick-prev {
          left: 40px;
        }
        &.slick-next {
          right: 40px;
        }
      }
      .slick-list {
        .slick-track {
          .slick-slide {
            position: relative;
            height: 700px;
            background-position: center;
            background-size: cover;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1;
              background: rgba(0,0,0,0.4);
            }
            img {
              width: 100%;
            }
          }
        }
      }
      .slick-dots {
        position: absolute;
        bottom: 40px;
      }
    }
    .info_block {
      position: absolute;
      bottom: 80px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      z-index: 2;
      color: $main_xlight_clr;
      font-family: modelica_regular;
      .object_status {
        color: #cdae6d;
        font-size: 2.6rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .1rem;
        margin: 0 auto 10px;
        display: table;
        span {
          font-family: modelica_medium;
          background-image: url(/img/texture-bg.jpg);
          background-position: 0 0;
          -webkit-background-clip: text;
          background-size: 100% auto;
          background-repeat: repeat;
          -webkit-text-fill-color: transparent;
          display: block;
        }
      }
      h2 {
        font-size: 3rem;
        line-height: 3.6rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .1rem;
        margin-bottom: 10px;
        font-family: modelica_medium;
      }
      h3 {
        font-size: 1.563rem;
        line-height: 1;
        margin-bottom: 25px;
        font-family: modelica_light;
      }

      a {
        font-size: 1.3rem;
        color: $main_brown_clr;
        text-decoration: underline;
        &:hover {
          color: white;
        }
      }
      .object_status,
      h2,
      h3,
      a {
        opacity: 0;
        position: relative;
        bottom: -20px;
      }
      &.show {
        .object_status,
        h2,
        h3,
        a {
         opacity: 1;
          bottom: 0;
          @include my_transition(300ms);
        }
        h2 {
          @include my_transition_delay(150ms);
          transition-property: opacity, bottom;
        }
        h3 {
          @include my_transition_delay(300ms);
          transition-property: opacity, bottom;
        }
        a {
          @include my_transition_delay(450ms);
          transition-property: opacity, bottom;
        }
      }
    }
  }

  section.latest_news_section {
    margin-top: 40px;
    .latest_news_container {
      border: 1px solid $main_gray_clr;
      background: $main_dark_clr;
      .marquee_title {
        float: left;
        padding: 11px 10px;
        margin-right: 20px;
        position: relative;
        top: -1px;
        left: -1px;
        color: $main_xlight_clr;
        background: $main_brown_clr;
        border: 1px solid $main_brown_clr;
        &.mobile {
          display: none;
        }
      }
      .marquee {
        overflow: hidden;
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 20px;
          height: 100%;
          @include my_box_shadow(0px 0px 15px 5px $main_dark_clr);
        }
        &:before {
          left: -20px;
        }
        &:after {
          right: -20px;
        }
        ul {
          li {
            display: inline-block;
            margin-right: 40px;
            line-height: 42px;
          }
        }
        .js-marquee {
          margin-right: 0!important;
        }
      }
    }
  }

  section.carousel_offers_section {
    margin-top: 70px;
    h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
    }
    .carousel.offers_carousel {
      .slick-slide {
        margin: 0 15px;
        &.object_block {
          position: relative;
          margin-bottom: 93px;
          .object_img_container {
            overflow: hidden;
            background-color: #ccac83;
            img {
              @include my_transition(0.3s);
              width: 100%;
            }
            .loading {
              text-align: center;
              display: table;
              width: 100px;
              height: 100px;
              border-radius: 100%;
              background-color: #272727;
              opacity: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -50px;
              margin-top: -50px;
              cursor: pointer;
              .icn {
                display: table-cell;
                vertical-align: middle;
                color: $main_brown_clr;
                font-size: 10px;
              }
            }
            &:hover {
              img {
                @include my_transform(scale(1.2));
                opacity: 0.6;
              }
              .loading {
                opacity: 1;
                @include my_transition(0.3s);
              }
            }
          }
          .object_info_container {
            position: absolute;
            padding: 0 20px;
            width: 100%;
            bottom: -81px;
          }
        }
      }
    }
  }

  section.description_section {
    .description_container {
      border-bottom: 1px solid $main_brown_clr;
      padding: 40px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      h1 {
        font-size: 1.125rem;
        margin: 0;
        line-height: 1.8rem;
        flex: 1 1 0;
        &.title {
          font-size: 2rem;
          line-height: 3.2rem;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: .1rem;
          font-family: modelica_medium;
          color: white;
          margin-right: 30px;
          span {
            white-space: nowrap;
            &:first-child,
            &:last-child {
              font-size: 2.8rem;
              background-image: url('/img/texture-bg.jpg');
              background-position: 0 0;
              -webkit-background-clip: text;
              background-size: 100% auto;
              background-repeat: repeat;
              -webkit-text-fill-color: transparent;
              color: #cdae6d;
              display: block;
            }
          }
        }
      }
    }
  }

  section.results_section {
    margin-top: 45px;
    h1 {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1rem;
      font-family: modelica_medium;
      color: white;
      span {
        background-image: url('/img/texture-bg.jpg');
        background-position: 0 0;
        -webkit-background-clip: text;
        background-size: 100% auto;
        background-repeat: repeat;
        -webkit-text-fill-color: transparent;
        color: #cdae6d;
        display: inline-block;
      }
    }
    .results_container.map_view {
      .homepage_map_container {
        display: table;
        width: 100%;
        #results_map {
          margin-top: 0;
        }
      }
      #results_map {
        margin-bottom: 0;
      }
    }
  }
}

section.flipbook_section {
  a {
    img {
      width: 100%;
    }
  }
  .iframe-m iframe {
    width: 100%;
    height: 600px;
    padding: 10px 10px 0;
    background: $main_dark_clr;
  }
}

#index,
#france,
#swiss,
#usa,
#mauritius {
  ul.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &:before {
          width: 10px;
          height: 10px;
          position: absolute;
          top: 5px;
          left: 5px;
          content: '';
          text-align: center;
          opacity: .5;
          background-color: white;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.slick-active {
        button {
          &:before {
            background: $main_brown_clr;
          }
        }
      }
    }
  }
}

section.guide_section {
  background-color: $main_dark_clr;
  margin-bottom: -90px;
  padding: 30px 0;
  .guide_carousel {
    h4 {
      font-size: 1.5rem;
      color: $main_brown_clr;
      text-transform: uppercase;
    }
    img {
      max-width: 100%;
      max-height: 200px;
    }

  }
}
.modal#homepage_flipbook {
  .vertical-alignment-helper {
    width: 100%;
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0)
  }
}

footer {
  margin-top: 0;
}