
h1 {
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccac83;
}
.title_container {
  position: relative;
  margin-bottom: 30px;
  h1 {
    padding: 0 50px 10px 50px;
  }
  a.action_link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $main_brown_clr;
    color: $main_brown_clr;
    &:hover {
      color: $main_light_clr;
    }
    &.add_new {
      left: initial;
      right: 0;
    }
  }
}


section.news_list_section {
  margin-top: 40px;
  .outer_block_container {
    margin-bottom: 30px;
    .inner_block_container {
      padding: 20px 20px;
      .article_info_block {
        display: table;
        width: 100%;
        .article_img {
          float: left;
          margin-right: 30px;
          border: 1px solid #ccac83;
          height: 150px;
          min-width: 150px;
          a {
            display: block;
            text-align: center;
            height: 100%;
            @include my_transition(0.2s);
            img {
              max-width: 148px;
              max-height: 148px;
              margin: 0 auto;
              position: relative;
              top: 50%;
              @include my_transform(translateY(-50%));
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
        .article_info {
          a {
            display: table;
            h2 {
              margin: 15px 0 15px;
              font-size: 1.1rem;
              line-height: 1.5rem;
              text-transform: uppercase;
              color: $main_light_clr;
            }
            &:hover {
              h2 {
                color: $main_brown_clr;
              }
            }
          }
          h3 {
            font-size: 0.875rem;
            color: rgba($main_light_clr, 0.4);
          }
          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
  .news_carousel.slick-slider {
    .slick-track {
      .slick-slide {
        padding: 0 10px;
      }
    }
  }
  nav ul.pagination {
    margin-top: 10px;
    li {
      ul.pages {
        li {
          float: left;
        }
      }
    }
  }
}

section.news_admin_nav_section {
  margin-top: 40px;
}

#news_admin {
  .news_list_section {
    .title_container {
      a.action_link.add_new {
        i {
          display: table;
          @include my_transform(rotate(45deg));
        }
      }
    }
    .outer_block_container {
      .inner_block_container {
        position: relative;
        .edit_elements {
          position: absolute;
          top: 10px;
          right: 12px;
          button, a {
            color: $main_brown_clr;
            &:hover {
              color: $main_light_clr;
            }
          }
          .edit_btn {
            margin-right: 8px;
          }

        }
        .article_info_block {
          .article_info {
            h3 {
              margin: 0;
            }
          }
        }
        .published_label {
          position: absolute;
          bottom: 10px;
          right: 15px;
          font-size: 0.875rem;
          color: $main_brown_clr;
        }
      }
    }

  }
}

.article_edit_section {
  margin-top: 40px;
  .outer_block_container {
    .inner_block_container {
      form {
        .label_container {
          ul.nav.nav-tabs {
            border: none;
            float: right;
            margin-bottom: 9px;
            margin-top: 5px;
            li.nav-item {
              &:not(:last-of-type) {
                margin-right: 10px !important;
              }
              a.nav-link {
                line-height: 1;
                font-size: 0.875rem;
                &.active {
                  color: $main_brown_clr;
                  background: none;
                }
              }
            }
          }
        }
        .img_upload_container {
          margin-top: 27px;
          min-height: 133px;
        }

        textarea {
          height: 133px;
        }
        button.btn {
          float: right;
        }
      }
    }
  }
}

//Datepicker START
.gj-datepicker {
  width: 100%;
  .gj-textbox-md {
    border: 1px solid $main_gray_clr;
    padding: 0 12px;
    width: 100%;
    background-color: transparent;
    color: $main_light_clr;
    font-size: 0.875rem;
    font-family: 'opensans_light';
    &:focus {
      border: 1px solid $main_gray_clr;
    }
  }
  .datepicker_btn {
    width: 42px;
    height: 42px;
    color: $main_gray_clr;
    padding: 11px;
    font-size: 21px;
    border-left: 1px solid $main_gray_clr;
  }
}
.gj-calendar-md {
  background: $main_dark_clr;
  color: $main_light_clr;
  border-color: $main_gray_clr;
  font-family: 'opensans_light';
  table {
    thead {
      tr:last-of-type {
        th {
          div {
            color: $main_brown_clr;
            opacity: 0.7;
          }
        }
      }
    }
    tr {
      th {
        div {
          i {
            font-weight: bold;
            font-size: 18px;
            position: relative;
            top: 2px;
          }
        }
      }
      td {
        div {
          border: 1px solid transparent;
        }
        &[type="today"] div {
          color: $main_brown_clr;
        }
        &[type="selected"] div {
          background: transparent;
          border-color: $main_brown_clr;
          @include my_border_radius(0);
        }
        &[type="other-month"] {
          div {
            opacity: 0.4;
            color: $main_light_clr;
          }
        }
        &.gj-cursor-pointer {
          div:hover {
            @include my_border_radius(0);
            background: $main_brown_clr;
          }
          &[type="today"] {
            div:hover {
              color: $main_light_clr;
            }
          }
        }
      }
    }
  }
}
//Datepicker END

//Img uploader field START
.img_upload_container {
  border: 1px dashed $main_gray_clr;
  min-height: 42px;
  padding: 15px;
  position: relative;
  .img_preview {
    .img_preview_thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: 50%;
        @include my_transform(translateY(-50%));
      }
    }
  }
  .img_upload {
    input.input_file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      & + label {
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
        background-color: rgba($main_dark_clr, 0.7);
        font-size: .875rem;
        font-family: 'opensans_light';
        color: $main_gray_clr;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        @include my_transition(0.2s);
        span {
          display: block;
          position: relative;
          top: 50%;
          @include my_transform(translateY(-50%));
        }
      }
      & + label:hover {
        background-color: rgba($main_dark_clr, 0.9);
        //color: $main_light_clr;
        text-decoration: underline;
      }
    }
  }
}
//Img uploader field END

//Error list START
.error_list {
  margin-bottom: 20px;
  margin-left: 20px;
  li {
    list-style: disc;
    font-family: opensans_light;
    color: $error_clr;
    font-size: 0.875rem;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
//Error list END

section.article_section {
  margin-top: 40px;
  .outer_block_container {
    .inner_block_container {
      .title_container {
        position: relative;
        margin-bottom: 0;
        a.action_link {
          left: 0;
        }
        h1 {
          padding: 0 65px 10px 55px;
        }
        .social_networks_share {
          position: absolute;
          right: 0;
          bottom: 10px;
        }
      }
      h2 {
        font-size: 0.875rem;
        margin-top: 10px;
        color: rgba($main_light_clr, 0.4);
      }
      .img_container {
        margin: 40px 0;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
      p {
        text-align: justify;
        font-size: 0.9rem;
        margin-bottom: 20px;
      }
    }
  }
}