/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url("/fonts/opensans/light/opensans_light.eot");
  src: url("/fonts/opensans/light/opensans_light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/light/opensans_light.woff") format("woff"), url("/fonts/opensans/light/opensans_light.ttf") format("truetype"), url("/fonts/opensans/light/opensans_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url("/fonts/opensans/regular/opensans_regular.eot");
  src: url("/fonts/opensans/regular/opensans_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/regular/opensans_regular.woff") format("woff"), url("/fonts/opensans/regular/opensans_regular.ttf") format("truetype"), url("/fonts/opensans/regular/opensans_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url("/fonts/opensans/semibold/opensans_semibold.eot");
  src: url("/fonts/opensans/semibold/opensans_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/semibold/opensans_semibold.woff") format("woff"), url("/fonts/opensans/semibold/opensans_semibold.ttf") format("truetype"), url("/fonts/opensans/semibold/opensans_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold*/
h1 {
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccac83; }

.title_container {
  position: relative;
  margin-bottom: 30px; }
  .title_container h1 {
    padding: 0 50px 10px 50px; }
  .title_container a.action_link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccac83;
    color: #ccac83; }
    .title_container a.action_link:hover {
      color: #fdfdfd; }
    .title_container a.action_link.add_new {
      left: initial;
      right: 0; }

section.news_list_section {
  margin-top: 40px; }
  section.news_list_section .outer_block_container {
    margin-bottom: 30px; }
    section.news_list_section .outer_block_container .inner_block_container {
      padding: 20px 20px; }
      section.news_list_section .outer_block_container .inner_block_container .article_info_block {
        display: table;
        width: 100%; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img {
          float: left;
          margin-right: 30px;
          border: 1px solid #ccac83;
          height: 150px;
          min-width: 150px; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img a {
            display: block;
            text-align: center;
            height: 100%;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
            section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img a img {
              max-width: 148px;
              max-height: 148px;
              margin: 0 auto;
              position: relative;
              top: 50%;
              transform: translateY(-50%); }
            section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img a:hover {
              opacity: 0.5; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info a {
          display: table; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info a h2 {
            margin: 15px 0 15px;
            font-size: 1.1rem;
            line-height: 1.5rem;
            text-transform: uppercase;
            color: #fdfdfd; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info a:hover h2 {
            color: #ccac83; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info h3 {
          font-size: 0.875rem;
          color: rgba(253, 253, 253, 0.4); }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info p {
          font-size: 0.875rem; }
  section.news_list_section .news_carousel.slick-slider .slick-track .slick-slide {
    padding: 0 10px; }
  section.news_list_section nav ul.pagination {
    margin-top: 10px; }
    section.news_list_section nav ul.pagination li ul.pages li {
      float: left; }

section.news_admin_nav_section {
  margin-top: 40px; }

#news_admin .news_list_section .title_container a.action_link.add_new i {
  display: table;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
#news_admin .news_list_section .outer_block_container .inner_block_container {
  position: relative; }
  #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements {
    position: absolute;
    top: 10px;
    right: 12px; }
    #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements button, #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements a {
      color: #ccac83; }
      #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements button:hover, #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements a:hover {
        color: #fdfdfd; }
    #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements .edit_btn {
      margin-right: 8px; }
  #news_admin .news_list_section .outer_block_container .inner_block_container .article_info_block .article_info h3 {
    margin: 0; }
  #news_admin .news_list_section .outer_block_container .inner_block_container .published_label {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 0.875rem;
    color: #ccac83; }

.article_edit_section {
  margin-top: 40px; }
  .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs {
    border: none;
    float: right;
    margin-bottom: 9px;
    margin-top: 5px; }
    .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item:not(:last-of-type) {
      margin-right: 10px !important; }
    .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 1;
      font-size: 0.875rem; }
      .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item a.nav-link.active {
        color: #ccac83;
        background: none; }
  .article_edit_section .outer_block_container .inner_block_container form .img_upload_container {
    margin-top: 27px;
    min-height: 133px; }
  .article_edit_section .outer_block_container .inner_block_container form textarea {
    height: 133px; }
  .article_edit_section .outer_block_container .inner_block_container form button.btn {
    float: right; }

.gj-datepicker {
  width: 100%; }
  .gj-datepicker .gj-textbox-md {
    border: 1px solid #625e57;
    padding: 0 12px;
    width: 100%;
    background-color: transparent;
    color: #fdfdfd;
    font-size: 0.875rem;
    font-family: 'opensans_light'; }
    .gj-datepicker .gj-textbox-md:focus {
      border: 1px solid #625e57; }
  .gj-datepicker .datepicker_btn {
    width: 42px;
    height: 42px;
    color: #625e57;
    padding: 11px;
    font-size: 21px;
    border-left: 1px solid #625e57; }

.gj-calendar-md {
  background: #272727;
  color: #fdfdfd;
  border-color: #625e57;
  font-family: 'opensans_light'; }
  .gj-calendar-md table thead tr:last-of-type th div {
    color: #ccac83;
    opacity: 0.7; }
  .gj-calendar-md table tr th div i {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 2px; }
  .gj-calendar-md table tr td div {
    border: 1px solid transparent; }
  .gj-calendar-md table tr td[type="today"] div {
    color: #ccac83; }
  .gj-calendar-md table tr td[type="selected"] div {
    background: transparent;
    border-color: #ccac83;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .gj-calendar-md table tr td[type="other-month"] div {
    opacity: 0.4;
    color: #fdfdfd; }
  .gj-calendar-md table tr td.gj-cursor-pointer div:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #ccac83; }
  .gj-calendar-md table tr td.gj-cursor-pointer[type="today"] div:hover {
    color: #fdfdfd; }

.img_upload_container {
  border: 1px dashed #625e57;
  min-height: 42px;
  padding: 15px;
  position: relative; }
  .img_upload_container .img_preview .img_preview_thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    text-align: center; }
    .img_upload_container .img_preview .img_preview_thumbnail img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .img_upload_container .img_upload input.input_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .img_upload_container .img_upload input.input_file + label {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
      background-color: rgba(39, 39, 39, 0.7);
      font-size: .875rem;
      font-family: 'opensans_light';
      color: #625e57;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .img_upload_container .img_upload input.input_file + label span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    .img_upload_container .img_upload input.input_file + label:hover {
      background-color: rgba(39, 39, 39, 0.9);
      text-decoration: underline; }

.error_list {
  margin-bottom: 20px;
  margin-left: 20px; }
  .error_list li {
    list-style: disc;
    font-family: opensans_light;
    color: #c54545;
    font-size: 0.875rem;
    margin-bottom: 10px; }
    .error_list li:last-of-type {
      margin-bottom: 0; }

section.article_section {
  margin-top: 40px; }
  section.article_section .outer_block_container .inner_block_container .title_container {
    position: relative;
    margin-bottom: 0; }
    section.article_section .outer_block_container .inner_block_container .title_container a.action_link {
      left: 0; }
    section.article_section .outer_block_container .inner_block_container .title_container h1 {
      padding: 0 65px 10px 55px; }
    section.article_section .outer_block_container .inner_block_container .title_container .social_networks_share {
      position: absolute;
      right: 0;
      bottom: 10px; }
  section.article_section .outer_block_container .inner_block_container h2 {
    font-size: 0.875rem;
    margin-top: 10px;
    color: rgba(253, 253, 253, 0.4); }
  section.article_section .outer_block_container .inner_block_container .img_container {
    margin: 40px 0;
    text-align: center; }
    section.article_section .outer_block_container .inner_block_container .img_container img {
      max-width: 100%; }
  section.article_section .outer_block_container .inner_block_container p {
    text-align: justify;
    font-size: 0.9rem; }

section.admin_nav_menu {
  margin-top: 40px; }
  section.admin_nav_menu .title_container h1 {
    padding-left: 0; }
  section.admin_nav_menu a h2 {
    text-transform: uppercase;
    color: #ccac83;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 10px 5px;
    border-bottom: 1px solid transparent;
    display: table;
    margin: 0 auto; }
  section.admin_nav_menu a:hover h2 {
    border-color: #ccac83; }

section.admin_gallery_section {
  margin-top: 40px; }
  section.admin_gallery_section .nav.nav-tabs {
    margin-bottom: 20px;
    background: #272727; }
  section.admin_gallery_section .image_upload_form {
    margin-bottom: 20px; }
  section.admin_gallery_section img {
    width: 100%; }
  section.admin_gallery_section .thumbnail_container {
    position: relative; }
    section.admin_gallery_section .thumbnail_container a.thumbnail {
      display: block;
      overflow: hidden;
      border: 1px solid #ccac83;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      section.admin_gallery_section .thumbnail_container a.thumbnail .img_container img {
        display: block; }
    section.admin_gallery_section .thumbnail_container a.remove_btn {
      position: absolute;
      right: -10px;
      top: -10px;
      width: 30px;
      height: 30px;
      padding: 6px;
      background-color: #272727;
      border: 1px solid #ccac83; }
    section.admin_gallery_section .thumbnail_container .my_checkbox {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: block;
      width: 20px;
      height: 20px; }
  section.admin_gallery_section form.image_upload_form button[type='submit'] {
    margin-top: 7px;
    float: right; }

.fancybox-container {
  z-index: 999999; }
  .fancybox-container .fancybox-wrap .fancybox-skin {
    border-radius: 0;
    padding: 0 !important;
    border: 1px solid #ccac83; }

.switch_field {
  border: 1px solid #ccac83;
  overflow: hidden; }
  .switch_field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden; }
    .switch_field input:checked + label {
      background-color: #ccac83;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .switch_field label {
    float: left;
    background-color: #272727;
    color: #fdfdfd;
    width: 50%;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 11px 12px 10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .switch_field label:hover {
      cursor: pointer; }

section.login_section {
  margin-top: 40px; }
  section.login_section .outer_block_container .inner_block_container a {
    color: #ccac83;
    font-size: 0.875rem; }
    section.login_section .outer_block_container .inner_block_container a i.icn {
      margin-right: 10px; }

@media screen and (max-width: 767px) {
  section.news_list_section,
  section.article_section {
    margin-top: 0 !important; }

  section.article_section .outer_block_container .inner_block_container {
    padding-top: 40px;
    font-size: .875rem; }
    section.article_section .outer_block_container .inner_block_container .title_container h1 {
      font-size: 1rem; } }
@media screen and (max-width: 575px) {
  section.news_list_section {
    margin-top: 0 !important; }
    section.news_list_section .news_carousel.slick-slider .slick-track .slick-slide {
      padding: 0; }
    section.news_list_section .outer_block_container {
      margin-bottom: 15px; }
      section.news_list_section .outer_block_container .inner_block_container {
        padding: 20px 20px; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img {
          float: none;
          margin-right: 0;
          text-align: center; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img a img {
            max-width: 100%;
            max-height: 100%; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info p {
          margin-top: 10px;
          text-align: justify; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info h2 {
          margin: 20px 0 10px;
          font-size: 1.25rem;
          line-height: 1.25rem;
          text-align: center; }

  section.article_section {
    margin-top: 0 !important; }
    section.article_section .outer_block_container .inner_block_container .title_container h1 {
      font-size: 0.875rem;
      padding-right: 15px; }
    section.article_section .outer_block_container .inner_block_container .title_container .social_networks_share {
      bottom: initial;
      top: -25px; }

  #news_admin section.news_list_section .outer_block_container .inner_block_container {
    padding-top: 40px;
    padding-bottom: 12px; } }

/*# sourceMappingURL=dashboard.css.map */
