$main_dark_clr: #232323;
$main_light_clr: #fdfdfd;
$main_brown_clr: #c5a278;
$main_gray_clr: #625e57;
$main_divider_clr: #a0988b;

@mixin my_border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin my_transform($transform_parameter) {
  -webkit-transform: $transform_parameter;
  -moz-transform: $transform_parameter;
  -ms-transform: $transform_parameter;
  -o-transform: $transform_parameter;
  transform: $transform_parameter;
}