@import "fonts";
@import "variables";
@import "news";


section.gallery_section {
  .form-image-upload {
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
  button.remove_btn {
    position: absolute;
    right: 10px;
    top: -10px;
  }
}