@import "fonts";
@import "variables";
@import "news";

section.admin_nav_menu {
  margin-top: 40px;
  .title_container h1 {
    padding-left: 0;
  }
  a {
    h2 {
      text-transform: uppercase;
      color: $main_brown_clr;
      font-size: 1.2rem;
      text-align: center;
      padding: 0 10px 5px;
      border-bottom: 1px solid transparent;
      display: table;
      margin: 0 auto;
    }
    &:hover {
      h2 {
        border-color: $main_brown_clr;
      }
    }
  }
}

section.admin_gallery_section {
  margin-top: 40px;
  .nav.nav-tabs {
    margin-bottom: 20px;
    background: $main_dark_clr;
  }
  .image_upload_form {
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
  .thumbnail_container {
    position: relative;
    a.thumbnail {
      display: block;
      height: 150px;
      overflow: hidden;
      border: 1px solid $main_brown_clr;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      .img_container {
        @include vertical-align();
        img {
          display: block;
        }
      }
    }
    a.remove_btn {
      position: absolute;
      right: -10px;
      top: -10px;
      width: 30px;
      height: 30px;
      padding: 6px;
      background-color: $main_dark_clr;
      border: 1px solid $main_brown_clr;
    }
    .my_checkbox {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  form.image_upload_form {
    button[type='submit'] {
      margin-top: 7px;
    }
  }
}

.fancybox-container {
  z-index: 999999;
  .fancybox-wrap {
    .fancybox-skin {
      border-radius: 0;
      padding: 0 !important;
      border: 1px solid $main_brown_clr;
    }
  }
}

.switch_field {
  border: 1px solid $main_brown_clr;
  overflow: hidden;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    &:checked + label {
      background-color: $main_brown_clr;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  label {
    float: left;
    background-color: $main_dark_clr;
    color: $main_light_clr;
    width: 50%;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 11px 12px 10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}

section.login_section {
  margin-top: 40px;
  .outer_block_container {
    .inner_block_container {
      a {
        color: $main_brown_clr;
        font-size: 0.875rem;
        i.icn {
          margin-right: 10px;
        }
      }
    }
  }
}