/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url("/fonts/opensans/light/opensans_light.eot");
  src: url("/fonts/opensans/light/opensans_light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/light/opensans_light.woff") format("woff"), url("/fonts/opensans/light/opensans_light.ttf") format("truetype"), url("/fonts/opensans/light/opensans_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url("/fonts/opensans/regular/opensans_regular.eot");
  src: url("/fonts/opensans/regular/opensans_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/regular/opensans_regular.woff") format("woff"), url("/fonts/opensans/regular/opensans_regular.ttf") format("truetype"), url("/fonts/opensans/regular/opensans_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url("/fonts/opensans/semibold/opensans_semibold.eot");
  src: url("/fonts/opensans/semibold/opensans_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/semibold/opensans_semibold.woff") format("woff"), url("/fonts/opensans/semibold/opensans_semibold.ttf") format("truetype"), url("/fonts/opensans/semibold/opensans_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold*/
/*Buttons style START*/
button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fdfdfd;
  padding: 0;
  font: 1rem opensans_regular; }

.btn:not(.dropdown-toggle) {
  height: 50px;
  padding: 0 65px;
  font: 1.25rem opensans_light;
  line-height: 50px;
  border-radius: 0;
  background: #272727;
  color: #fdfdfd;
  position: relative;
  overflow: hidden;
  border: 1px solid #625e57;
  z-index: 1;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .btn:not(.dropdown-toggle):hover {
    border-color: #ccac83; }

.btn:not(.dropdown-toggle):before {
  content: '';
  position: absolute;
  background-color: #ccac83;
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn:not(.dropdown-toggle):hover:before {
  top: 0;
  left: 0; }

.btn.disabled {
  opacity: 0.5; }

/*Buttons style END*/
input,
textarea {
  border: 1px solid #625e57;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 0.875rem;
  font-family: 'opensans_light'; }

input {
  height: 42px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

textarea {
  height: 150px;
  padding: 12px;
  resize: none; }

button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #625e57 !important; }

a:focus {
  outline: none !important;
  box-shadow: none !important; }

.input_container {
  position: relative;
  background-color: #272727; }
  .input_container input {
    color: #fdfdfd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .input_container input:-webkit-autofill, .input_container input:-webkit-autofill:hover, .input_container input:-webkit-autofill:focus, .input_container input:-webkit-autofill:active {
      color: #fdfdfd !important;
      -webkit-box-shadow: 0 0 0 30px #272727 inset !important;
      -webkit-text-fill-color: #fdfdfd !important; }
  .input_container button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 40px;
    width: 40px;
    border: none;
    padding: 12px;
    background-color: #625e57;
    color: #fdfdfd;
    cursor: pointer; }
  .input_container .input_label {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #625e57; }
    .input_container .input_label span {
      text-transform: none; }
  .input_container label.error {
    color: #c54545;
    font-size: 0.75rem; }

sup {
  font-size: 0.650em; }

label.form_el_label {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ccac83;
  line-height: 12px; }
  label.form_el_label i.icn {
    font-size: 12px;
    margin-right: 5px;
    float: left; }
  label.form_el_label span {
    font-size: 1rem;
    line-height: 12px; }

/*Nav tabs styles START*/
ul.nav.nav-tabs {
  border: 1px solid #ccac83; }
  ul.nav.nav-tabs li.nav-item {
    width: 50%;
    margin: 0 !important;
    text-align: center; }
    ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 40px;
      padding: 0;
      font-size: 1.125rem;
      text-transform: uppercase;
      border: none;
      color: #fdfdfd;
      font-family: opensans_light, Raleway, sans-serif; }
      ul.nav.nav-tabs li.nav-item a.nav-link.active {
        color: #fdfdfd;
        border-radius: 0;
        background-color: #ccac83; }

/*Nav tabs styles END*/
/*Checkboxes styles START*/
.my_checkbox {
  float: left;
  min-height: 0; }
  .my_checkbox label {
    display: block;
    padding: 0 !important;
    position: relative;
    margin: 0; }
    .my_checkbox label input[type=checkbox] {
      display: none; }
    .my_checkbox label input[type="checkbox"] + span.fake_checkbox {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      border: none;
      background: transparent;
      cursor: pointer; }
      .my_checkbox label input[type="checkbox"] + span.fake_checkbox:before {
        content: "\e910";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox {
      background-position: 0 0;
      border-color: #625e57; }
      .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox:before {
        content: "\e90f";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label .my_checkbox_text {
      font-size: 1rem;
      margin: 0 0 0 25px;
      line-height: 20px;
      display: inline-block;
      color: #fdfdfd; }
    .my_checkbox label .my_checkbox_text a {
      color: #f94c3f; }
    .my_checkbox label .my_checkbox_text a:hover {
      color: #f94c3f; }

/*Checkboxes styles END*/
/*Bootstrap select START*/
.multiselect-native-select .btn-group {
  width: 100%; }
  .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 40px;
    background-color: #272727;
    outline-offset: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: none; }
    .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
      position: absolute;
      top: 18px;
      right: 15px;
      left: initial;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
  .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727;
    width: 100%;
    min-width: 100%; }
    .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li {
      padding: 5px 0 5px 5px; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a {
        display: block;
        width: 100%;
        outline: none;
        color: #fdfdfd; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label {
          width: 100%;
          position: relative;
          padding: 0; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label input {
            display: none; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox {
            padding-left: 20px;
            line-height: 1rem; }
            .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox:before {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              font-family: 'icomoon' !important;
              content: "\e910";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 1rem; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a {
        color: #ccac83; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a label.checkbox:before {
          content: "\e90f"; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item {
        border-bottom: 1px solid #625e57; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item a label {
          font-weight: normal; }
  .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle {
    border-color: #625e57 !important; }
    .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle::after {
      top: 17px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.btn-group.bootstrap-select {
  width: 100%;
  font-size: 1rem;
  outline: none; }
  .btn-group.bootstrap-select .dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 38px;
    background-color: #272727;
    outline-offset: 0; }
    .btn-group.bootstrap-select .dropdown-toggle::after {
      top: 20px;
      right: 15px;
      left: initial;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
    .btn-group.bootstrap-select .dropdown-toggle span.filter-option {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .btn-group.bootstrap-select .dropdown-toggle .bs-caret {
      display: none; }
    .btn-group.bootstrap-select .dropdown-toggle:focus, .btn-group.bootstrap-select .dropdown-toggle:active {
      outline: none !important; }
  .btn-group.bootstrap-select .dropdown-menu.open {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727; }
    .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner {
      display: table; }
      .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li {
        padding: 5px; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a {
          display: block;
          width: 100%;
          outline: none; }
          .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
            color: #fdfdfd; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li.selected a {
          color: #fdfdfd; }
  .btn-group.bootstrap-select.dropup .dropdown-menu.open {
    border-bottom: none;
    border-top: 1px solid #625e57; }
  .btn-group.bootstrap-select.open .dropdown-toggle {
    border: 1px solid #625e57 !important; }
    .btn-group.bootstrap-select.open .dropdown-toggle::after {
      top: 13px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .btn-group.bootstrap-select.open .dropdown-menu.open {
    display: table; }
    .btn-group.bootstrap-select.open .dropdown-menu.open .bs-actionsbox button {
      font-size: 10px;
      padding: 0; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li:first-child {
    border-bottom: 1px solid #625e57; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 20px;
    position: relative; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
      color: #625e57; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check {
      margin: 0; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      margin: 0 10px 0 0;
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1rem;
      float: left; }
      .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark:before {
        content: "\e90f"; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li.selected a span.check-mark:before {
    content: "\e90e"; }

/*Bootstrap select END*/
.icn_container {
  display: table;
  float: left;
  opacity: 1;
  position: relative;
  cursor: default; }

.tooltipster-sidetip .tooltipster-box {
  background: #ccac83;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .tooltipster-sidetip .tooltipster-box .tooltipster-content {
    padding: 0 15px 0;
    font-size: 0.875rem;
    line-height: 1.875rem; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #ccac83; }

section.objects_nav_section {
  padding: 15px 0; }
  section.objects_nav_section a.nav_link {
    padding: 5px 10px; }
    section.objects_nav_section a.nav_link i {
      font-size: 22px; }
    section.objects_nav_section a.nav_link span {
      position: relative;
      top: -3px; }
    section.objects_nav_section a.nav_link.prev {
      float: left; }
      section.objects_nav_section a.nav_link.prev i {
        margin-right: 10px; }
    section.objects_nav_section a.nav_link.next {
      float: right; }
      section.objects_nav_section a.nav_link.next i {
        margin-left: 10px; }
    section.objects_nav_section a.nav_link:hover {
      color: #ccac83; }

section.gallery_section .gallery_container {
  max-width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  section.gallery_section .gallery_container .gallery_view {
    position: relative;
    overflow: hidden; }
    section.gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -27px;
      color: white;
      font-size: 55px;
      line-height: 50px;
      background: transparent;
      border: none;
      z-index: 99; }
      section.gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-prev {
        left: 50px; }
      section.gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-next {
        right: 50px; }
    section.gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-list .slick-track .slick-slide {
      height: 700px;
      overflow: hidden; }
      section.gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-list .slick-track .slick-slide img {
        margin: 0 auto;
        height: 100%; }
    section.gallery_section .gallery_container .gallery_view .fullscreen_btn {
      position: absolute;
      left: 50px;
      top: 50px;
      font-size: 32px; }
    section.gallery_section .gallery_container .gallery_view .object_title {
      position: absolute;
      bottom: 30%;
      width: 100%;
      color: white;
      text-transform: uppercase;
      z-index: 2;
      padding: 0 80px; }
      section.gallery_section .gallery_container .gallery_view .object_title h2 {
        text-align: center;
        font-size: 3.125rem;
        font-family: opensans_semibold; }
      section.gallery_section .gallery_container .gallery_view .object_title h3 {
        text-align: center;
        font-size: 1.375rem; }
      section.gallery_section .gallery_container .gallery_view .object_title .object_status {
        margin: 0 auto;
        background: #ccac83;
        color: #fdfdfd;
        font-size: 1.25rem;
        display: table;
        text-align: center;
        padding: 7px 30px 6px; }
    section.gallery_section .gallery_container .gallery_view .panorama_link_container {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 300px; }
      section.gallery_section .gallery_container .gallery_view .panorama_link_container:before {
        content: '';
        display: block;
        position: absolute;
        top: -5%;
        right: -125px;
        width: 130%;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transform: rotate(13deg);
        -moz-transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        -o-transform: rotate(13deg);
        transform: rotate(13deg); }
      section.gallery_section .gallery_container .gallery_view .panorama_link_container button {
        font-size: 1.25rem;
        text-transform: uppercase;
        z-index: 2;
        position: absolute;
        bottom: 60px;
        right: 35px; }
        section.gallery_section .gallery_container .gallery_view .panorama_link_container button i {
          margin-left: 20px; }
    section.gallery_section .gallery_container .gallery_view #object_panorama {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100; }
    section.gallery_section .gallery_container .gallery_view .close_panorama {
      display: none;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -85px;
      font-size: 1rem;
      line-height: 1rem;
      text-transform: uppercase;
      z-index: 101; }
      section.gallery_section .gallery_container .gallery_view .close_panorama .icn {
        margin-right: 10px;
        display: block;
        float: left;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
  section.gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider.details_gallery_thumbnails {
    margin: 20px -9px 0; }
  section.gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider.promotion_gallery_thumbnails {
    margin: 20px 0 0; }
  section.gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide {
    padding: 0 10px;
    cursor: pointer;
    height: 120px; }
    section.gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide.slick-current {
      position: relative; }
      section.gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide.slick-current:before {
        content: '';
        display: block;
        width: calc(100% - 20px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 10px;
        background-color: #ccac83;
        opacity: 0.7;
        z-index: 1; }
    section.gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide img {
      margin: 0 auto;
      position: relative;
      max-width: 100%;
      top: 50%;
      transform: translateY(-50%); }
  section.gallery_section .gallery_container.display_panorama .gallery_view #object_panorama {
    display: block; }
  section.gallery_section .gallery_container.display_panorama .gallery_view .close_panorama {
    display: block; }
  section.gallery_section .gallery_container.display_panorama .gallery_nav {
    opacity: 0.3;
    pointer-events: none; }
  section.gallery_section .gallery_container > .container-fluid {
    padding: 0 5px; }
    section.gallery_section .gallery_container > .container-fluid .properties_container {
      overflow: hidden;
      padding: 0 10px 10px; }
      section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties {
        padding: 20px 20px;
        display: table;
        margin: 0 auto;
        -webkit-box-shadow: 0px 0px 20px -5px black;
        -moz-box-shadow: 0px 0px 20px -5px black;
        box-shadow: 0px 0px 20px -5px black; }
        section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li {
          display: inline-block;
          margin-right: 20px;
          text-align: center;
          padding: 5px 0; }
          section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li.no_text {
            margin-right: 10px; }
            section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li.no_text:last-child {
              margin-right: -10px; }
          section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li i {
            font-size: 1.375rem;
            line-height: 1.25rem;
            float: left;
            color: #ccac83; }
          section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li .prop_val {
            font-size: 1rem;
            margin-left: 10px; }
            section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li .prop_val span {
              color: #fdfdfd; }
          section.gallery_section .gallery_container > .container-fluid .properties_container ul.properties li.inactive {
            opacity: 0.3; }
  section.gallery_section .gallery_container .social_networks_share {
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 1;
    padding: 10px;
    background: rgba(39, 39, 39, 0.5); }

section.agent_info_section .outer_block_container {
  margin-top: 40px; }
  section.agent_info_section .outer_block_container .inner_block_container {
    padding: 40px 75px; }
    section.agent_info_section .outer_block_container .inner_block_container .object_info {
      text-align: right; }
      section.agent_info_section .outer_block_container .inner_block_container .object_info .object_id {
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        color: #fdfdfd;
        margin-bottom: 10px; }
      section.agent_info_section .outer_block_container .inner_block_container .object_info .object_price {
        background: #ccac83;
        color: #fdfdfd;
        font-size: 1.25rem;
        text-align: center;
        padding: 12px 35px 11px;
        display: table;
        margin-bottom: 10px;
        float: right; }
      section.agent_info_section .outer_block_container .inner_block_container .object_info .btn {
        height: 50px;
        line-height: 50px;
        padding: 0 35px; }

section.object_info_section .outer_block_container {
  margin-top: 20px; }
  section.object_info_section .outer_block_container .inner_block_container p {
    font-family: opensans_light; }
    section.object_info_section .outer_block_container .inner_block_container p:last-of-type {
      margin-bottom: 60px; }
  section.object_info_section .outer_block_container .inner_block_container .object_details_container h4 {
    font-size: 1.25rem;
    margin: 30px 0 20px 0;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccac83; }
  section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list {
    display: table;
    width: 100%;
    padding-left: 15px; }
    section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list li {
      float: left;
      width: 33%;
      margin-bottom: 30px;
      position: relative;
      padding-right: 20px;
      font-family: opensans_light;
      font-size: 1rem;
      opacity: 1; }
      section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list li:before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #ccac83;
        position: absolute;
        left: -15px;
        top: 9px; }
      section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list li .detail_name {
        color: #ccac83;
        float: left;
        width: 50%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list li .detail_name:after {
          content: '';
          height: 2px;
          width: 100%;
          border-bottom: 1px solid #444444;
          position: absolute;
          bottom: 2px;
          margin-left: 4px; }
      section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list li .detail_value {
        padding-left: 10px;
        text-transform: lowercase;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        width: 50%;
        text-overflow: ellipsis; }
    section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list.main_info {
      border-bottom: 1px solid #ccac83;
      margin-bottom: 20px; }
      section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list.main_info li {
        margin-bottom: 15px; }
        section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_info_list.main_info li:before {
          display: none; }
  section.object_info_section .outer_block_container .inner_block_container .object_details_container h5 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ccac83;
    text-decoration: underline;
    margin-left: 20px; }
  section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_add_info_list {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px; }
    section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_add_info_list:before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ccac83;
      position: absolute;
      left: -15px;
      top: 9px; }
    section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_add_info_list li {
      float: left;
      line-height: 1rem;
      padding-right: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      border-right: 2px solid #ccac83; }
      section.object_info_section .outer_block_container .inner_block_container .object_details_container ul.object_add_info_list li:last-of-type {
        border: none;
        margin: 0;
        padding: 0; }

section.location_section .map_container {
  position: relative;
  margin-top: 20px; }
  section.location_section .map_container #object_map {
    visibility: visible;
    height: 650px;
    width: 100%; }
    section.location_section .map_container #object_map .place-content {
      color: #272727; }
  section.location_section .map_container .map_sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 38px 40px; }
    section.location_section .map_container .map_sidebar ul {
      -webkit-box-shadow: 0px 0px 20px -5px black;
      -moz-box-shadow: 0px 0px 20px -5px black;
      box-shadow: 0px 0px 20px -5px black; }
      section.location_section .map_container .map_sidebar ul li {
        display: table;
        width: 100%; }
        section.location_section .map_container .map_sidebar ul li .checkbox_container {
          background: white;
          display: table;
          border-bottom: 1px solid rgba(39, 39, 39, 0.1); }
          section.location_section .map_container .map_sidebar ul li .checkbox_container input[type="checkbox"] {
            display: none; }
          section.location_section .map_container .map_sidebar ul li .checkbox_container label.checkbox_label {
            line-height: 40px;
            width: 40px;
            text-align: center;
            margin: 0;
            position: relative;
            cursor: pointer; }
            section.location_section .map_container .map_sidebar ul li .checkbox_container label.checkbox_label i.icn {
              opacity: 0.3; }
            section.location_section .map_container .map_sidebar ul li .checkbox_container label.checkbox_label span {
              position: absolute;
              top: 0;
              left: 40px;
              line-height: 40px;
              padding: 0;
              background: white;
              width: 0;
              overflow: hidden;
              white-space: nowrap;
              -webkit-transition: 0.3s;
              -moz-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s; }
            section.location_section .map_container .map_sidebar ul li .checkbox_container label.checkbox_label:hover span {
              padding: 0 20px;
              width: auto; }
          section.location_section .map_container .map_sidebar ul li .checkbox_container input[type="checkbox"]:checked + label.checkbox_label i.icn {
            opacity: 1; }
        section.location_section .map_container .map_sidebar ul li:last-of-type .checkbox_container {
          border-bottom: none; }
        section.location_section .map_container .map_sidebar ul li.map_banks .checkbox_container label.checkbox_label {
          color: #424f89; }
        section.location_section .map_container .map_sidebar ul li.map_bakeries .checkbox_container label.checkbox_label {
          color: #2989a5; }
        section.location_section .map_container .map_sidebar ul li.map_cafes .checkbox_container label.checkbox_label {
          color: #0295c4; }
        section.location_section .map_container .map_sidebar ul li.map_dentists .checkbox_container label.checkbox_label {
          color: #475c56; }
        section.location_section .map_container .map_sidebar ul li.map_schools .checkbox_container label.checkbox_label {
          color: #477664; }
        section.location_section .map_container .map_sidebar ul li.map_hospitals .checkbox_container label.checkbox_label {
          color: #1ba570; }
        section.location_section .map_container .map_sidebar ul li.map_doctors .checkbox_container label.checkbox_label {
          color: #b3d540; }
        section.location_section .map_container .map_sidebar ul li.map_parkings .checkbox_container label.checkbox_label {
          color: #fcba26; }
        section.location_section .map_container .map_sidebar ul li.map_pharmacies .checkbox_container label.checkbox_label {
          color: #f36326; }
        section.location_section .map_container .map_sidebar ul li.map_police .checkbox_container label.checkbox_label {
          color: #f36326; }
        section.location_section .map_container .map_sidebar ul li.map_post_offices .checkbox_container label.checkbox_label {
          color: #e5232b; }
        section.location_section .map_container .map_sidebar ul li.map_restaurants .checkbox_container label.checkbox_label {
          color: #f25c8e; }
        section.location_section .map_container .map_sidebar ul li.map_gas_stations .checkbox_container label.checkbox_label {
          color: #ff78ce; }
        section.location_section .map_container .map_sidebar ul li.map_universities .checkbox_container label.checkbox_label {
          color: #d462fa; }
