/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url("/fonts/opensans/light/opensans_light.eot");
  src: url("/fonts/opensans/light/opensans_light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/light/opensans_light.woff") format("woff"), url("/fonts/opensans/light/opensans_light.ttf") format("truetype"), url("/fonts/opensans/light/opensans_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url("/fonts/opensans/regular/opensans_regular.eot");
  src: url("/fonts/opensans/regular/opensans_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/regular/opensans_regular.woff") format("woff"), url("/fonts/opensans/regular/opensans_regular.ttf") format("truetype"), url("/fonts/opensans/regular/opensans_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url("/fonts/opensans/semibold/opensans_semibold.eot");
  src: url("/fonts/opensans/semibold/opensans_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/semibold/opensans_semibold.woff") format("woff"), url("/fonts/opensans/semibold/opensans_semibold.ttf") format("truetype"), url("/fonts/opensans/semibold/opensans_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold*/
/*Buttons style START*/
button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fdfdfd;
  padding: 0;
  font: 1rem opensans_regular; }

.btn:not(.dropdown-toggle) {
  height: 50px;
  padding: 0 65px;
  font: 1.25rem opensans_light;
  line-height: 50px;
  border-radius: 0;
  background: #272727;
  color: #fdfdfd;
  position: relative;
  overflow: hidden;
  border: 1px solid #625e57;
  z-index: 1;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .btn:not(.dropdown-toggle):hover {
    border-color: #ccac83; }

.btn:not(.dropdown-toggle):before {
  content: '';
  position: absolute;
  background-color: #ccac83;
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn:not(.dropdown-toggle):hover:before {
  top: 0;
  left: 0; }

.btn.disabled {
  opacity: 0.5; }

/*Buttons style END*/
input,
textarea {
  border: 1px solid #625e57;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 0.875rem;
  font-family: 'opensans_light'; }

input {
  height: 42px; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

textarea {
  height: 150px;
  padding: 12px;
  resize: none; }

button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #625e57 !important; }

a:focus {
  outline: none !important;
  box-shadow: none !important; }

.input_container {
  position: relative;
  background-color: #272727; }
  .input_container input {
    color: #fdfdfd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .input_container input:-webkit-autofill, .input_container input:-webkit-autofill:hover, .input_container input:-webkit-autofill:focus, .input_container input:-webkit-autofill:active {
      color: #fdfdfd !important;
      -webkit-box-shadow: 0 0 0 30px #272727 inset !important;
      -webkit-text-fill-color: #fdfdfd !important; }
  .input_container button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 40px;
    width: 45px;
    border: none;
    padding: 10px;
    background-color: #625e57;
    color: #fdfdfd;
    cursor: pointer; }
  .input_container .input_label {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 45px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #625e57; }
    .input_container .input_label span {
      text-transform: none; }
  .input_container label.error {
    color: #c54545;
    font-size: 0.75rem; }

sup {
  font-size: 0.650em; }

label.form_el_label {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ccac83;
  line-height: 12px; }
  label.form_el_label i.icn {
    font-size: 12px;
    margin-right: 5px;
    float: left; }
  label.form_el_label span {
    font-size: 0.875rem;
    line-height: 12px; }

/*Nav tabs styles START*/
ul.nav.nav-tabs {
  border: 1px solid #ccac83; }
  ul.nav.nav-tabs li.nav-item {
    width: 50%;
    margin: 0 !important;
    text-align: center; }
    ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 40px;
      padding: 0;
      font-size: 1.125rem;
      text-transform: uppercase;
      border: none;
      color: #fdfdfd;
      font-family: opensans_light, Raleway, sans-serif; }
      ul.nav.nav-tabs li.nav-item a.nav-link.active {
        color: #fdfdfd;
        border-radius: 0;
        background-color: #ccac83; }

/*Nav tabs styles END*/
/*Checkboxes styles START*/
.my_checkbox {
  float: left;
  min-height: 0; }
  .my_checkbox label {
    display: block;
    padding: 0 !important;
    position: relative;
    margin: 0; }
    .my_checkbox label input[type=checkbox] {
      display: none; }
    .my_checkbox label input[type="checkbox"] + span.fake_checkbox {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      border: none;
      background: transparent;
      cursor: pointer; }
      .my_checkbox label input[type="checkbox"] + span.fake_checkbox:before {
        content: "\e913";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox {
      background-position: 0 0;
      border-color: #625e57; }
      .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox:before {
        content: "\e912";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label .my_checkbox_text {
      font-size: 0.875rem;
      margin: 0 0 0 25px;
      line-height: 20px;
      display: inline-block;
      color: #fdfdfd; }
    .my_checkbox label .my_checkbox_text a {
      color: #f94c3f; }
    .my_checkbox label .my_checkbox_text a:hover {
      color: #f94c3f; }

/*Checkboxes styles END*/
/*Bootstrap select START*/
.multiselect-native-select .btn-group {
  width: 100%; }
  .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 40px;
    background-color: #272727;
    outline-offset: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: none; }
    .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
      position: absolute;
      top: 18px;
      right: 15px;
      left: initial;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
  .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727;
    width: 100%;
    min-width: 100%; }
    .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li {
      padding: 5px 0 5px 5px; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a {
        display: block;
        width: 100%;
        outline: none;
        color: #fdfdfd; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label {
          width: 100%;
          position: relative;
          padding: 0; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label input {
            display: none; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox {
            padding-left: 20px;
            line-height: 1rem; }
            .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox:before {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              font-family: 'icomoon' !important;
              content: "\e913";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 1rem; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a {
        color: #ccac83; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a label.checkbox:before {
          content: "\e912"; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item {
        border-bottom: 1px solid #625e57; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item a label {
          font-weight: normal; }
  .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle {
    border-color: #625e57 !important; }
    .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle::after {
      top: 17px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.btn-group.bootstrap-select {
  width: 100%;
  font-size: 1rem;
  outline: none; }
  .btn-group.bootstrap-select .dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 38px;
    background-color: #272727;
    outline-offset: 0; }
    .btn-group.bootstrap-select .dropdown-toggle::after {
      top: 20px;
      right: 15px;
      left: initial;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
    .btn-group.bootstrap-select .dropdown-toggle span.filter-option {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .btn-group.bootstrap-select .dropdown-toggle .bs-caret {
      display: none; }
    .btn-group.bootstrap-select .dropdown-toggle:focus, .btn-group.bootstrap-select .dropdown-toggle:active {
      outline: none !important; }
  .btn-group.bootstrap-select .dropdown-menu.open {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727; }
    .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner {
      display: table; }
      .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li {
        padding: 5px; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a {
          display: block;
          width: 100%;
          outline: none; }
          .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
            color: #fdfdfd; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li.selected a {
          color: #fdfdfd; }
  .btn-group.bootstrap-select.dropup .dropdown-menu.open {
    border-bottom: none;
    border-top: 1px solid #625e57; }
  .btn-group.bootstrap-select.open .dropdown-toggle {
    border: 1px solid #625e57 !important; }
    .btn-group.bootstrap-select.open .dropdown-toggle::after {
      top: 13px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .btn-group.bootstrap-select.open .dropdown-menu.open {
    display: table; }
    .btn-group.bootstrap-select.open .dropdown-menu.open .bs-actionsbox button {
      font-size: 10px;
      padding: 0; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li:first-child {
    border-bottom: 1px solid #625e57; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 20px;
    position: relative; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
      color: #625e57; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check {
      margin: 0; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      margin: 0 10px 0 0;
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1rem;
      float: left; }
      .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark:before {
        content: "\e913"; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li.selected a span.check-mark:before {
    content: "\e912"; }

/*Bootstrap select END*/
.icn_container {
  display: table;
  float: left;
  opacity: 1;
  position: relative;
  cursor: default; }

.tooltipster-sidetip .tooltipster-box {
  background: #ccac83;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .tooltipster-sidetip .tooltipster-box .tooltipster-content {
    padding: 0 15px 0;
    font-size: 0.875rem;
    line-height: 1.875rem; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #ccac83; }

#message-box p {
  margin-bottom: 10px; }
  #message-box p.success {
    color: #69bf7f; }

body {
  font: 16px 'opensans_light';
  color: #fdfdfd;
  background: #272727; }
  body.preloader_active {
    height: 100vh;
    overflow: hidden; }
  body:after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(/img/pattern.svg) no-repeat;
    background-size: 120%;
    background-position-x: 10%;
    opacity: 0.1;
    z-index: -1; }
  body#france:after {
    background: url(/img/bg_pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center center; }

.container-fluid {
  max-width: 1200px; }

a, a:active, a:focus, a:visited, a:hover {
  color: #fdfdfd;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

.margin_top_10 {
  margin-top: 10px; }

.margin_top_15 {
  margin-top: 15px; }

.margin_top_20 {
  margin-top: 20px; }

.margin_top_30 {
  margin-top: 30px; }

.margin_bottom_10 {
  margin-bottom: 10px; }

.margin_bottom_15 {
  margin-bottom: 15px; }

.margin_bottom_20 {
  margin-bottom: 20px; }

.margin_bottom_30 {
  margin-bottom: 30px; }

.gradient_bottom {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: 1;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); }

.outer_block_container {
  padding: 13px;
  background: #272727;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .outer_block_container .inner_block_container {
    border: 1px solid #ccac83;
    padding: 40px; }

header {
  position: fixed;
  top: 0;
  z-index: 99999;
  display: table;
  width: 100%;
  background: #272727;
  -webkit-box-shadow: 0px 6px 20px -10px black;
  -moz-box-shadow: 0px 6px 20px -10px black;
  box-shadow: 0px 6px 20px -10px black; }
  header .logo {
    float: left;
    padding: 23px 0;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    header .logo img {
      max-width: 90px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
  header .navigation_container {
    padding-top: 15px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    header .navigation_container .navigation_block {
      margin-left: 170px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      header .navigation_container .navigation_block .header_tel {
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        font-size: 0.813rem;
        line-height: 27px; }
      header .navigation_container .navigation_block .lang_currency_container {
        float: right; }
        header .navigation_container .navigation_block .lang_currency_container li {
          float: left; }
          header .navigation_container .navigation_block .lang_currency_container li ul.language_select {
            display: table;
            float: left;
            padding: 6px 0;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
            header .navigation_container .navigation_block .lang_currency_container li ul.language_select li {
              float: left;
              text-transform: uppercase;
              font-size: 0.813rem;
              padding: 1px 5px;
              border-right: 1px solid #fdfdfd;
              line-height: 0.813rem; }
              header .navigation_container .navigation_block .lang_currency_container li ul.language_select li:first-of-type {
                padding-left: 0; }
              header .navigation_container .navigation_block .lang_currency_container li ul.language_select li:last-of-type {
                border-right: none;
                padding-right: 0; }
              header .navigation_container .navigation_block .lang_currency_container li ul.language_select li a.active {
                color: #ccac83; }
          header .navigation_container .navigation_block .lang_currency_container li .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
            line-height: 25px;
            padding: 0 30px 0 13px;
            text-transform: uppercase;
            font-size: 0.813rem; }
            header .navigation_container .navigation_block .lang_currency_container li .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
              top: 11px;
              right: 10px; }
          header .navigation_container .navigation_block .lang_currency_container li .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
            min-width: 100%; }
            header .navigation_container .navigation_block .lang_currency_container li .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li {
              float: none;
              text-transform: uppercase;
              font-size: 0.813rem; }
    header .navigation_container nav {
      width: calc(100% - 170px);
      margin-left: 170px;
      border-top: 1px solid rgba(98, 94, 87, 0.3);
      padding: 20px 0 15px;
      margin-top: 15px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      header .navigation_container nav ul.nav {
        width: 100%;
        display: table; }
        header .navigation_container nav ul.nav li.nav-item {
          margin-bottom: 10px;
          padding-right: 45px;
          display: inline-block;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          header .navigation_container nav ul.nav li.nav-item:last-of-type {
            padding-right: 0; }
          header .navigation_container nav ul.nav li.nav-item a.nav-link {
            text-transform: uppercase;
            padding: 8px 5px;
            font-size: 1.063rem;
            line-height: 1.063rem;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
            header .navigation_container nav ul.nav li.nav-item a.nav-link.active {
              color: #ccac83;
              font-family: opensans_regular;
              border-bottom: 1px solid #ccac83; }
            header .navigation_container nav ul.nav li.nav-item a.nav-link:hover {
              color: #ccac83;
              border-bottom: 1px solid #ccac83; }
  header .menu-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    /* to center */
    margin: 0 auto;
    float: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 9999; }
    header .menu-icon > span {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color: #fdfdfd;
      border-radius: 0; }
      header .menu-icon > span:before, header .menu-icon > span:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fdfdfd;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      header .menu-icon > span:before {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px); }
      header .menu-icon > span:after {
        -webkit-transform: translateY(8px);
        transform: translateY(8px); }
  header.opened .menu-icon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    header.opened .menu-icon span:before, header.opened .menu-icon span:after {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  header.minimized .logo {
    padding: 10px 0; }
    header.minimized .logo img {
      max-width: 52px; }
  header.minimized .navigation_container {
    padding-top: 5px; }
    header.minimized .navigation_container .navigation_block {
      margin-left: 100px; }
      header.minimized .navigation_container .navigation_block .header_tel {
        line-height: 20px;
        font-size: 0.75rem; }
      header.minimized .navigation_container .navigation_block .lang_currency_container li ul.language_select {
        padding: 5px 0 2px; }
    header.minimized .navigation_container nav {
      margin-top: 5px;
      margin-left: 100px;
      padding: 5px 0 10px; }
      header.minimized .navigation_container nav ul.nav li.nav-item {
        margin-bottom: 0;
        padding-right: 15px; }
        header.minimized .navigation_container nav ul.nav li.nav-item a.nav-link {
          padding: 3px 5px;
          font-size: 0.75rem;
          line-height: 0.75rem; }

main {
  padding-top: 137px; }

section.search_section {
  margin-top: 70px; }
  section.search_section .outer_block_container .inner_block_container {
    position: relative; }
    section.search_section .outer_block_container .inner_block_container .reset_filters_btn {
      position: absolute;
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 5px;
      right: 15px;
      top: 15px;
      opacity: 0.5;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      section.search_section .outer_block_container .inner_block_container .reset_filters_btn i {
        font-size: 26px;
        line-height: 22px; }
      section.search_section .outer_block_container .inner_block_container .reset_filters_btn.active {
        cursor: pointer;
        opacity: 1; }
        section.search_section .outer_block_container .inner_block_container .reset_filters_btn.active:hover {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }
    section.search_section .outer_block_container .inner_block_container ul.nav.nav-tabs {
      margin-top: 27px; }
    section.search_section .outer_block_container .inner_block_container .input_container.search_input {
      margin-top: 10px; }

.object_info_container .object_info {
  background-color: #272727;
  padding: 30px 30px 20px 30px;
  -webkit-box-shadow: 0px 0px 20px -2px black;
  -moz-box-shadow: 0px 0px 20px -2px black;
  box-shadow: 0px 0px 20px -2px black; }
  .object_info_container .object_info a {
    display: block;
    text-transform: uppercase;
    font-size: 1.5625rem;
    margin-bottom: 0; }
    .object_info_container .object_info a:hover {
      color: #ccac83; }
  .object_info_container .object_info .subtitle {
    display: table;
    width: 100%; }
    .object_info_container .object_info .subtitle span.price {
      font-size: 1.25rem;
      float: right;
      display: block; }
    .object_info_container .object_info .subtitle span.city {
      display: block;
      float: left; }
  .object_info_container .object_info .properties_block {
    border-top: 1px solid #ccac83;
    margin-top: 15px; }
    .object_info_container .object_info .properties_block .properties {
      text-align: center;
      display: table;
      width: auto;
      margin: 15px auto 0; }
      .object_info_container .object_info .properties_block .properties li {
        float: left;
        margin-right: 15px; }
        .object_info_container .object_info .properties_block .properties li:last-child {
          margin-right: 0; }
        .object_info_container .object_info .properties_block .properties li .icn_container .icn {
          color: #ccac83;
          margin-right: 10px; }

.agent_info_block .agent_img {
  float: left;
  margin-right: 30px; }
  .agent_info_block .agent_img img {
    border: 1px solid #ccac83;
    height: 100%; }
.agent_info_block .agent_info {
  float: left; }
  .agent_info_block .agent_info p {
    font-size: 1rem;
    margin-top: 20px; }
  .agent_info_block .agent_info .agent_name {
    margin: 30px 0 15px;
    font-size: 1.563rem;
    line-height: 1.563rem;
    text-transform: uppercase;
    color: #fdfdfd; }
  .agent_info_block .agent_info ul {
    display: table;
    width: 100%; }
    .agent_info_block .agent_info ul li {
      font-size: 1rem;
      color: #fdfdfd;
      float: left;
      text-transform: uppercase; }
      .agent_info_block .agent_info ul li:nth-child(2) {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 2px solid #fdfdfd; }
      .agent_info_block .agent_info ul li a {
        color: #fdfdfd; }

/*Slick START*/
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  padding: 0;
  font-size: 54px;
  background: transparent;
  border: none;
  color: #fdfdfd;
  cursor: pointer; }
  .slick-slider .slick-arrow:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  .slick-slider .slick-arrow.slick-next {
    right: -40px; }
  .slick-slider .slick-arrow.slick-prev {
    left: -40px; }

/*Slick END*/
/* Bootstrap modal popup START*/
.modal {
  z-index: 999999; }
  .modal .vertical-alignment-helper {
    display: table;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
    padding: 15px; }
    .modal .vertical-alignment-helper .modal-dialog {
      max-width: 860px; }
      .modal .vertical-alignment-helper .modal-dialog.vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none; }
      .modal .vertical-alignment-helper .modal-dialog .modal-content {
        background-color: #272727;
        padding: 15px;
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all; }
        .modal .vertical-alignment-helper .modal-dialog .modal-content button.close {
          position: absolute;
          right: 15px;
          top: 15px;
          text-shadow: none;
          opacity: 1;
          font-size: 1.3rem;
          line-height: 1.3rem;
          padding: 10px;
          border-left: 1px solid #ccac83;
          border-bottom: 1px solid #ccac83;
          z-index: 1;
          color: white; }
          .modal .vertical-alignment-helper .modal-dialog .modal-content button.close:hover {
            color: rgba(255, 255, 255, 0.8); }
        .modal .vertical-alignment-helper .modal-dialog .modal-content .modal-body {
          border: 1px solid #ccac83;
          padding: 90px 125px 45px; }
          .modal .vertical-alignment-helper .modal-dialog .modal-content .modal-body form {
            border-top: 1px solid #aaa296;
            margin-top: 30px;
            padding-top: 30px; }
            .modal .vertical-alignment-helper .modal-dialog .modal-content .modal-body form button.btn {
              margin-top: 5px;
              float: right; }
            .modal .vertical-alignment-helper .modal-dialog .modal-content .modal-body form .my_checkbox label .my_checkbox_text {
              font-size: 0.875rem; }

/* Bootstrap modal popup END*/
ul.social_networks_share {
  display: table; }
  ul.social_networks_share li {
    float: left;
    margin-right: 10px; }
    ul.social_networks_share li:last-child {
      margin: 0; }
    ul.social_networks_share li a {
      color: #fdfdfd; }
      ul.social_networks_share li a i.icn {
        font-size: 14px; }
      ul.social_networks_share li a:hover {
        color: #ccac83; }

nav {
  display: table;
  margin: 0 auto; }
  nav ul.pagination {
    border: 1px solid #aaa296;
    border-radius: 0;
    margin: 20px 0 0; }
    nav ul.pagination li a.page-link {
      background-color: transparent;
      padding: 0;
      height: 40px;
      width: 37px;
      line-height: 40px;
      text-align: center;
      border: none;
      border-radius: 0;
      color: #fdfdfd;
      font-size: 18px; }
      nav ul.pagination li a.page-link:focus, nav ul.pagination li a.page-link:hover {
        color: #ccac83;
        background-color: transparent;
        border: none;
        font-size: 22px;
        text-decoration: none; }
      nav ul.pagination li a.page-link[aria-label="Previous"], nav ul.pagination li a.page-link[aria-label="Next"] {
        font-size: 8px;
        line-height: 42px;
        color: #aaa296; }
        nav ul.pagination li a.page-link[aria-label="Previous"]:hover, nav ul.pagination li a.page-link[aria-label="Next"]:hover {
          font-size: 10px; }
    nav ul.pagination li.active .page-link {
      background-color: transparent;
      font-size: 22px;
      color: #ccac83; }

footer {
  margin-top: 90px;
  background: #272727; }
  footer section.top_footer_section {
    background-color: #323232;
    padding: 30px 0; }
    footer section.top_footer_section h3 {
      margin-bottom: 20px;
      font-size: 1.25rem;
      text-transform: uppercase; }
    footer section.top_footer_section ul {
      font-size: 0.75rem; }
      footer section.top_footer_section ul li {
        margin-bottom: 15px; }
  footer section.bottom_footer_section {
    padding: 30px 0; }
    footer section.bottom_footer_section p {
      font-size: 0.8125rem;
      margin-right: 50px;
      margin-bottom: 15px;
      text-align: justify; }
    footer section.bottom_footer_section .copyright {
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 0.9375rem;
      margin-right: 0; }
    footer section.bottom_footer_section h4 {
      font-size: 1.3rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0; }
    footer section.bottom_footer_section .contact_block {
      margin: 34px auto;
      display: table; }
      footer section.bottom_footer_section .contact_block a.footer_logo_link {
        display: table-cell;
        float: left;
        padding-right: 20px; }
        footer section.bottom_footer_section .contact_block a.footer_logo_link img {
          max-width: 100px; }
      footer section.bottom_footer_section .contact_block ul {
        font-size: 0.875rem;
        display: table-cell;
        vertical-align: middle; }
        footer section.bottom_footer_section .contact_block ul li:first-child {
          margin-bottom: 13px; }
  footer ul.social_networks {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999; }
    footer ul.social_networks li {
      margin: 0; }
      footer ul.social_networks li a,
      footer ul.social_networks li a:visited,
      footer ul.social_networks li a:focus {
        color: #fdfdfd;
        display: block;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 1.25rem;
        text-decoration: none; }
        footer ul.social_networks li a i.icn,
        footer ul.social_networks li a:visited i.icn,
        footer ul.social_networks li a:focus i.icn {
          position: relative;
          top: 2px; }
      footer ul.social_networks li:hover a {
        color: #ffffff;
        font-size: 1.5rem; }
      footer ul.social_networks li.scroll_to_top {
        background-color: #625e57; }
      footer ul.social_networks li.twitter {
        background-color: #21aaf4; }
      footer ul.social_networks li.facebook {
        background-color: #4464a2; }
      footer ul.social_networks li.linkedin {
        background-color: #037cb6; }

.preloader_container {
  top: 0;
  position: fixed;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.98); }
  .preloader_container .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

#response {
  position: absolute;
  bottom: -20px; }
  #response p {
    margin: 0;
    padding-top: 5px;
    font-size: 0.75rem; }
    #response p.error {
      color: #c54545; }
    #response p.success {
      color: #69bf7f; }

/*# sourceMappingURL=global.css.map */
