/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url("/fonts/opensans/light/opensans_light.eot");
  src: url("/fonts/opensans/light/opensans_light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/light/opensans_light.woff") format("woff"), url("/fonts/opensans/light/opensans_light.ttf") format("truetype"), url("/fonts/opensans/light/opensans_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url("/fonts/opensans/regular/opensans_regular.eot");
  src: url("/fonts/opensans/regular/opensans_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/regular/opensans_regular.woff") format("woff"), url("/fonts/opensans/regular/opensans_regular.ttf") format("truetype"), url("/fonts/opensans/regular/opensans_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url("/fonts/opensans/semibold/opensans_semibold.eot");
  src: url("/fonts/opensans/semibold/opensans_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/semibold/opensans_semibold.woff") format("woff"), url("/fonts/opensans/semibold/opensans_semibold.ttf") format("truetype"), url("/fonts/opensans/semibold/opensans_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold*/
/*Buttons style START*/
button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fdfdfd;
  padding: 0;
  font: 1rem opensans_regular; }

.btn:not(.dropdown-toggle) {
  height: 50px;
  padding: 0 65px;
  font: 1.25rem opensans_light;
  line-height: 50px;
  border-radius: 0;
  background: #272727;
  color: #fdfdfd;
  position: relative;
  overflow: hidden;
  border: 1px solid #625e57;
  z-index: 1;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .btn:not(.dropdown-toggle):hover {
    border-color: #ccac83; }

.btn:not(.dropdown-toggle):before {
  content: '';
  position: absolute;
  background-color: #ccac83;
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn:not(.dropdown-toggle):hover:before {
  top: 0;
  left: 0; }

.btn.disabled {
  opacity: 0.5; }

/*Buttons style END*/
input,
textarea {
  border: 1px solid #625e57;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 0.875rem;
  font-family: 'opensans_light'; }

input {
  height: 42px; }

textarea {
  height: 150px;
  padding: 12px;
  resize: none; }

button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #625e57 !important; }

a:focus {
  outline: none !important;
  box-shadow: none !important; }

.input_container {
  position: relative;
  background-color: #272727; }
  .input_container input {
    color: #fdfdfd; }
  .input_container button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 40px;
    width: 40px;
    border: none;
    padding: 12px;
    background-color: #625e57;
    color: #fdfdfd;
    cursor: pointer; }
  .input_container .input_label {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #625e57; }
    .input_container .input_label span {
      text-transform: none; }

sup {
  font-size: 0.650em; }

label.form_el_label {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ccac83;
  line-height: 12px; }
  label.form_el_label i.icn {
    font-size: 12px;
    margin-right: 5px;
    float: left; }
  label.form_el_label span {
    font-size: 1rem;
    line-height: 12px; }

/*Nav tabs styles START*/
ul.nav.nav-tabs {
  border: 1px solid #ccac83; }
  ul.nav.nav-tabs li.nav-item {
    width: 50%;
    margin: 0 !important;
    text-align: center; }
    ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 40px;
      padding: 0;
      font-size: 1.125rem;
      text-transform: uppercase;
      border: none;
      color: #fdfdfd;
      font-family: opensans_light, Raleway, sans-serif; }
      ul.nav.nav-tabs li.nav-item a.nav-link.active {
        color: #fdfdfd;
        border-radius: 0;
        background-color: #ccac83; }

/*Nav tabs styles END*/
/*Checkboxes styles START*/
.my_checkbox {
  float: left;
  min-height: 0; }
  .my_checkbox label {
    display: block;
    padding: 0 !important;
    position: relative;
    margin: 0; }
    .my_checkbox label input[type=checkbox] {
      display: none; }
    .my_checkbox label input[type="checkbox"] + span.fake_checkbox {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      border: none;
      background: transparent;
      cursor: pointer; }
      .my_checkbox label input[type="checkbox"] + span.fake_checkbox:before {
        content: "\e90f";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox {
      background-position: 0 0;
      border-color: #625e57; }
      .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox:before {
        content: "\e90e";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label .my_checkbox_text {
      font-size: 1rem;
      margin: 0 0 0 25px;
      line-height: 20px;
      display: inline-block;
      color: #fdfdfd; }
    .my_checkbox label .my_checkbox_text a {
      color: #f94c3f; }
    .my_checkbox label .my_checkbox_text a:hover {
      color: #f94c3f; }

/*Checkboxes styles END*/
/*Bootstrap select START*/
.multiselect-native-select .btn-group {
  width: 100%; }
  .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 40px;
    background-color: #272727;
    outline-offset: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: none; }
    .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
      position: absolute;
      top: 18px;
      right: 15px;
      left: initial;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
  .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727;
    width: 100%;
    min-width: 100%; }
    .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li {
      padding: 5px 0 5px 5px; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a {
        display: block;
        width: 100%;
        outline: none;
        color: #fdfdfd; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label {
          width: 100%;
          position: relative;
          padding: 0; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label:hover {
            color: #ccac83; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label input {
            display: none; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox {
            padding-left: 20px;
            line-height: 1rem; }
            .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox:before {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              font-family: 'icomoon' !important;
              content: "\e90f";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 1rem; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a {
        color: #ccac83; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a label.checkbox:before {
          content: "\e90e"; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item {
        border-bottom: 1px solid #625e57; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item a label {
          font-weight: normal; }
  .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle {
    border-color: #625e57 !important; }
    .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle::after {
      top: 17px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.btn-group.bootstrap-select {
  width: 100%;
  font-size: 1rem;
  outline: none; }
  .btn-group.bootstrap-select .dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 38px;
    background-color: #272727;
    outline-offset: 0; }
    .btn-group.bootstrap-select .dropdown-toggle::after {
      top: 20px;
      right: 15px;
      left: initial;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
    .btn-group.bootstrap-select .dropdown-toggle span.filter-option {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .btn-group.bootstrap-select .dropdown-toggle .bs-caret {
      display: none; }
    .btn-group.bootstrap-select .dropdown-toggle:focus, .btn-group.bootstrap-select .dropdown-toggle:active {
      outline: none !important; }
  .btn-group.bootstrap-select .dropdown-menu.open {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727; }
    .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner {
      display: table; }
      .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li {
        padding: 5px; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a {
          display: block;
          width: 100%;
          outline: none; }
          .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
            color: #fdfdfd; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li.selected a {
          color: #fdfdfd; }
  .btn-group.bootstrap-select.dropup .dropdown-menu.open {
    border-bottom: none;
    border-top: 1px solid #625e57; }
  .btn-group.bootstrap-select.open .dropdown-toggle {
    border: 1px solid #625e57 !important; }
    .btn-group.bootstrap-select.open .dropdown-toggle::after {
      top: 13px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .btn-group.bootstrap-select.open .dropdown-menu.open {
    display: table; }
    .btn-group.bootstrap-select.open .dropdown-menu.open .bs-actionsbox button {
      font-size: 10px;
      padding: 0; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li:first-child {
    border-bottom: 1px solid #625e57; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 20px;
    position: relative; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
      color: #625e57; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check {
      margin: 0; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      margin: 0 10px 0 0;
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1rem;
      float: left; }
      .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark:before {
        content: "\e90f"; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li.selected a span.check-mark:before {
    content: "\e90e"; }

/*Bootstrap select END*/
/*Slick START*/
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  padding: 0;
  font-size: 54px;
  background: transparent;
  border: none;
  color: #fdfdfd;
  cursor: pointer; }
  .slick-slider .slick-arrow:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  .slick-slider .slick-arrow.slick-next {
    right: -50px; }
  .slick-slider .slick-arrow.slick-prev {
    left: -50px; }

/*Slick END*/
.icn_container {
  display: table;
  float: left;
  opacity: 1;
  position: relative;
  cursor: default; }

.tooltipster-sidetip .tooltipster-box {
  background: #ccac83;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .tooltipster-sidetip .tooltipster-box .tooltipster-content {
    padding: 0 15px 0;
    font-size: 0.875rem;
    line-height: 1.875rem; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #ccac83; }

section.top_offer_section {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  section.top_offer_section .info_block {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 2; }
    section.top_offer_section .info_block h1 {
      font-family: opensans_regular;
      font-size: 3.125rem;
      margin-bottom: 10px; }
    section.top_offer_section .info_block h3 {
      font-size: 1.563rem;
      margin-bottom: 25px; }

section.carousel_offers_section {
  margin-top: 70px; }
  section.carousel_offers_section h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
  section.carousel_offers_section .carousel.offers_carousel .slick-slide {
    margin: 0 15px; }
    section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block {
      position: relative;
      margin-bottom: 93px; }
      section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_img_container {
        overflow: hidden;
        background-color: #ccac83; }
        section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_img_container img {
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          width: 100%; }
        section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_img_container .loading {
          text-align: center;
          display: table;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: #272727;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -50px;
          margin-top: -50px;
          cursor: pointer; }
          section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_img_container .loading .icn {
            display: table-cell;
            vertical-align: middle;
            color: #ccac83;
            font-size: 10px; }
        section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_img_container:hover img {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
          opacity: 0.6; }
        section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_img_container:hover .loading {
          opacity: 1;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      section.carousel_offers_section .carousel.offers_carousel .slick-slide.object_block .object_info_container {
        position: absolute;
        padding: 0 20px;
        width: 100%;
        bottom: -81px; }
