@media screen and ( max-width: 1300px ) {
  footer ul.social_networks li {
    float: right;
  }

  section.results_section {
    .results_container {
      &.list_view .container-fluid > .row .object_block_container .object_block {
        margin-top: 25px;
        .img_block {
          top: 0;
          left: 0;
        }
        .info_block {
          padding: 20px 20px 20px 20px;
          .properties_container {
            margin-top: 14px;
            padding: 15px 10px 0;
          }
          .description_container .object_description {
            width: 57%;
          }
        }
      }
      &.map_view {
        #results_map {
          margin-bottom: 60px;
        }
        .slick-slider {
          .slick-arrow {
            top: -15px !important;
            font-size: 30px !important;
            &.slick-next {
              right: 15px !important;
            }
            &.slick-prev {
              left: initial;
              right: 55px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 1199px ) {
  header .navigation_container nav ul.nav li.nav-item {
    padding-right: 33px;
    a.nav-link {
      font-size: 0.875rem;
      line-height: 0.875rem;
    }
  }

  section.search_section {
    .outer_block_container {
      .inner_block_container {
        .input_container.search_input {
          margin-top: 0;
        }
      }
    }
  }

  section.agent_info_section {
    .outer_block_container {
      .inner_block_container {
        .object_info {
          margin-top: 15px;
          p {
            display: inline-block;
          }
          button.btn {
            margin: 0 30px;
          }
        }
      }
    }
  }

  section.team_members_section {
    .outer_block_container {
      .inner_block_container {
        .info_container {
          h4 {
            font-size: 1.25rem;
            margin: 20px 0 20px;
          }
          ul {
            li {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  section.results_section {
    .results_container.map_view {
      .container-fluid {
        .results_carousel {
          .object_block_container {
            .object_block {
              .img_block {
                .gallery_view {
                  ul.gallery {
                    li {
                      img {
                        height: 350px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section.gallery_section {
    .gallery_container {
      .gallery_view {
        .gallery.slick-slider {
          .slick-list {
            .slick-track {
              .slick-slide {
                height: 600px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 991px ) {
  section.search_section {
    .outer_block_container {
      .inner_block_container {
        padding: 40px 50px 30px;
        ul.nav.nav-tabs {
          margin-top: 0;
        }
      }
    }
  }

  section.top_offer_section {
    height: 550px;
  }

  section.gallery_section {
    .gallery_container {
      .gallery_view {
        .gallery.slick-slider {
          .slick-list {
            .slick-track {
              .slick-slide {
                height: 500px;
              }
            }
          }
        }
        .object_title {
          h2 {
            font-size: 2.125rem;
          }
        }
        .panorama_link_container {
          button {
            font-size: 1rem;
          }
        }
      }
      .gallery_nav {
        .container-fluid {
          .gallery_thumbnails.slick-slider {
            .slick-list {
              .slick-track {
                .slick-slide {
                  height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }

  section.object_info_section {
    .outer_block_container {
      .inner_block_container {
        .object_details_container {
          ul.object_info_list {
            li {
              width: 50%;
            }
          }
        }
      }
    }
  }

  section.agent_info_section {
    .outer_block_container {
      .inner_block_container {
        .object_info {
          .object_id {
            font-size: 1rem;
            line-height: 1rem;
          }
          .btn {
            height: 40px;
            line-height: 40px;
            font-size: 1rem;
          }
          .object_price {
            font-size: 1rem;
            padding: 10px 25px 8px;
          }
        }
      }
    }
  }

  .agent_info_block {
    .agent_img {
      img {
        height: 120px;
      }
    }
    .agent_info {
      p {
        margin-top: 10px;
      }
      p.agent_name {
        font-size: 1.25rem;
        margin: 15px 0 10px;
      }
    }
  }

  section.results_section {
    h1 {
      font-size: 1.5rem;
    }
    .results_container{
      &.list_view {
        .container-fluid {
          .object_block_container .object_block .info_block {
            .properties_container ul.properties li {
              line-height: 13px;
              font-size: 13px;
              .icn_container .icn {
                font-size: 13px;
              }
            }
            .title_container a h2 {
              font-size: 20px;
            }
            .description_container h3 {
              font-size: 14px;
            }
          }
          > .row .object_block_container .object_block {
            .info_block {
              padding: 15px 20px 10px 20px;
              .description_container {
                .object_description {
                  width: 100%;
                  font-size: 12px;
                  margin-top: 2px;
                }
                .object_price {
                  padding: 6px 30px 5px;
                  font-size: 14px;
                  margin-top: 10px;
                }
                .btn {
                  margin: 10px 0 0 15px;
                  padding: 0 15px;
                  font: 14px opensans_light;
                  height: 30px;
                  line-height: 30px;
                }
              }
              .title_container a h2 {
                margin-bottom: 6px;
              }
              .properties_container {
                margin-top: 8px;
                padding: 8px 10px 0;
              }
            }
          }
        }
      }
      &.grid_view,
      &.map_view {
        .container-fluid {
          .object_block_container {
            .object_block {
              .img_block {
                .gallery_view {
                  ul.gallery {
                    li {
                      img {
                        max-height: 300px;
                      }
                    }
                  }
                }
              }
              .info_block_container {
                .info_block {
                  .title_container {
                    a {
                      h2 {
                        font-size: 1rem;
                      }
                    }
                  }
                  .description_container {
                    h3, div.object_price {
                      font-size: 0.85rem;
                    }
                  }
                  .properties_container {
                    margin-top: 0;
                    padding: 0;
                    ul.properties {
                      margin: 10px auto 0;
                      li {
                        font-size: 0.85rem;
                        margin-right: 7px;
                        .icn_container {
                          margin-right: 0;
                          .icn {
                            line-height: 20px;
                            font-size: 0.85rem;
                            margin-right: 7px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.map_view {
        .container-fluid {
          .results_carousel {
            .object_block_container {
              .object_block {
                .img_block {
                  .gallery_view {
                    ul.gallery {
                      li {
                        img {
                          height: 300px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section.contact_map_section {
    .address_block {
      top: calc(50% - 150px);
      right: 5%;
      .outer_block_container {
        .inner_block_container {
          padding: 30px;
        }
      }
    }
  }

  section.team_members_section {
    .outer_block_container {
      .inner_block_container {
        padding: 15px;
        .info_container {
          h4 {
            font-size: 1rem;
            margin-top: 10px;
          }
        }
        a.btn {
          padding: 0 25px;
          font-size: 1rem;
        }
      }
    }
  }

  /* Bootstrap modal popup START*/
  .modal {
    .vertical-alignment-helper {
      .modal-dialog {
        .modal-content {
          .modal-body {
            padding: 90px 75px 45px;
          }
        }
      }
    }
  }
  /* Bootstrap modal popup END*/

  footer section.bottom_footer_section p {
    margin-right: 0;
  }
}

@media screen and ( max-width: 767px ) {
  header {
    &.opened .navigation_container nav {
      display: block;
    }
    .navigation_container {
      padding-right: 34px;
      padding-top: 10px;
      nav {
        margin-top: 10px;
        margin-left: 0;
        display: none;
        ul.nav li.nav-item {
          display: table;
        }
      }
      .navigation_block {
        text-align: center;
        display: table;
        margin: 0 auto;
        .lang_currency_container {
          float: none;
          display: inline-block;
        }
      }
    }
    .logo {
      padding: 15px 0;
      img {
        max-width: 50px;
      }
    }
    div.menu-icon {
      display: block;
    }
  }

  section.search_section {
    margin-top: 30px;
    .outer_block_container {
      .inner_block_container {
        padding: 30px 30px 20px;
      }
    }
  }

  section.carousel_offers_section {
    .carousel.offers_carousel {
      .slick-slide {
        margin: 0 5px;
        &.object_block .outer_block_container {
          bottom: -60px;
          padding: 0 10px;
          .object_info {
            padding: 10px 10px 10px 10px;
            a {
              font-size: 0.875rem;
            }
            .subtitle {
              span.price, span.city {
                font-size: 0.75rem;
              }
            }
            .properties_block {
              margin-top: 0;
              .properties {
                margin: 5px auto 0;
              }
              .properties li {
                font-size: 0.75rem;
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
  }

  section.results_section {
    .results_container {
      &.grid_view,
      &.map_view {
        .container-fluid {
          .object_block_container {
            .object_block {
              margin: 20px 0 70px;
              height: calc(100% - 90px);
              .img_block {
                .gallery_view {
                  ul.gallery {
                    li {
                      img {
                        max-height: 200px;
                      }
                    }
                  }
                }
              }
              .info_block_container {
                bottom: -60px;
                padding: 0 10px;
                .info_block {
                  padding: 10px 10px 10px 10px;
                  .title_container a h2 {
                    font-size: 0.875rem;
                  }
                  .description_container {
                    h3, div.object_price {
                      font-size: 0.75rem;
                    }
                  }
                  .properties_container {
                    ul.properties {
                      margin: 5px auto 0;
                      li {
                        font-size: 0.75rem;
                        .icn_container {
                          .icn {
                            line-height: 17px;
                            font-size: 0.75rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.map_view {
        .container-fluid {
          .results_carousel {
            .object_block_container {
              .object_block {
                .img_block {
                  .gallery_view {
                    ul.gallery {
                      li {
                        img {
                          height: 230px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section.gallery_section {
    .gallery_container {
      .gallery_view {
        .fullscreen_btn {
          left: 25px;
          top: 25px;
          font-size: 20px;
        }
        .object_title {
          padding: 0 40px;
          bottom: 15%;
          .object_status {
            font-size: 1rem;
            padding: 4px 15px 3px;
          }
          h2 {
            font-size: 1.25rem;
            margin-top: 5px;
          }
          h3 {
            font-size: 1rem;
          }
        }
        .gallery.slick-slider {
          .slick-list {
            .slick-track {
              .slick-slide {
                height: 400px;
              }
            }
          }
          .slick-arrow {
            font-size: 30px;
            line-height: 30px;
            margin-top: -15px;
            &.slick-next {
              right: 25px;
            }
            &.slick-prev {
              left: 25px;
            }
          }
        }
        .panorama_link_container {
          width: 250px;
          button {
            right: 15px;
            bottom: 15px;
            font-size: 0.875rem;
          }
        }
      }
      .gallery_nav {
        .container-fluid {
          margin: 0 -5px;
          .gallery_thumbnails.slick-slider {
            .slick-list {
              .slick-track {
                .slick-slide {
                  height: 75px;
                }
              }
            }
          }
        }
      }
      >.container-fluid {
        .properties_container {
          margin: 0 -5px;
          ul.properties {
            padding: 10px;
            li {
              padding: 2px 0;
              margin-right: 15px;
              .icn_container {
                i {
                  font-size: 1rem;
                }
              }
              .prop_val {
                font-size: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  section.object_info_section {
    .outer_block_container {
      .inner_block_container {
        padding: 20px;
        font-size: 0.875rem;
        p:last-of-type {
          margin-bottom: 30px;
        }
        .object_details_container {
          h4 {
            font-size: 1rem;
            margin-top: 15px;
          }
          ul.object_info_list {
            li {
              width: 100%;
              margin-bottom: 15px;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }

  section.agent_info_section {
    .outer_block_container {
      .inner_block_container {
        padding: 20px;
        .object_info {
          p {
            display: block;
          }
          button.btn {
            margin: 0 30px 0 0;
          }
        }
      }
    }
  }

  .agent_info_block {
    .agent_info {
      p {
        margin-top: 0;
      }
      p.agent_name {
        margin-top: 10px;
      }
      ul {
        li {
          float: none;
          &:nth-child(2) {
            margin: 10px 0 0;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }

  section.carousel_offers_section {
    margin-top: 30px;
    h2 {
      margin-bottom: 20px;
      font-size: 1.5625rem;
    }
  }

  section.top_offer_section {
    height: 400px;
    .info_block {
      h1 {
        font-size: 40px;
      }
      h3 {
        font-size: 25px;
      }
    }
  }

  section.contact_info_section {
    margin-top: 30px;
    p {
      font-size: 0.875rem;
    }
  }

  section.contact_map_section {
    margin-top: 30px;
    #contact_map {
      height: 500px;
    }
    .address_block {
      top: initial;
      bottom: 15px;
      right: 15px;
      .outer_block_container {
        .inner_block_container {
          padding: 15px;
          h3 {
            font-size: 1rem;
            margin-bottom: 15px;
          }
          p {
            font-size: 0.75rem;
            margin-bottom: 5px;
          }
          ul {
            font-size: 0.75rem;
            li {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  section.contact_form_section {
    margin-top: 30px;
    .outer_block_container {
      .inner_block_container {
        padding: 20px;
        h2 {
          font-size: 2rem;
          margin-bottom: 20px;
        }
        p {
          font-size: 0.875rem;
        }
        form.contact_form {
          .my_checkbox {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  section.team_info_section {
    margin-top: 30px;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 0.875rem;
    }
  }

  section.team_members_section {
    margin-top: 10px;
    .outer_block_container {
      .inner_block_container {
        padding: 15px;
        .info_container {
          margin: 0;
          h4 {
            font-size: 1.5rem;
            margin-top: 50px;
          }
          ul {
            li {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }

  footer {
    margin-top: 30px;
    section.bottom_footer_section .copyright {
      font-size: 0.8125rem;
    }
    ul.social_networks li a,
    ul.social_networks li a:hover {
      width: 40px;
      line-height: 40px;
    }
  }
}

@media screen and ( max-width: 575px ) {
  section.search_section {
    .outer_block_container {
      .inner_block_container {
        padding: 15px 15px 5px;
      }
    }
  }

  section.top_offer_section {
    height: 250px;
    .info_block {
      bottom: 20px;
      h1 {
        font-size: 25px;
      }
      h3 {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }

  section.gallery_section {
    .gallery_container {
      .gallery_view {
        .fullscreen_btn {
          left: 10px;
          top: 10px;
        }
        .object_title {
          padding: 0 25px;
          .object_status {
            font-size: 0.875rem;
            padding: 2px 10px 1px;
          }
          h2 {
            font-size: 1rem;
            margin-top: 2px;
          }
          h3 {
            font-size: 0.875rem;
          }
        }
        .gallery.slick-slider {
          .slick-list {
            .slick-track {
              .slick-slide {
                height: 250px;
              }
            }
          }
          .slick-arrow {
            line-height: 30px;
            margin-top: -15px;
            &.slick-next {
              right: 10px;
            }
            &.slick-prev {
              left: 10px;
            }
          }
        }
        .panorama_link_container {
          &:before {
            display: none;
          }
          button {
            right: 10px;
            bottom: 10px;
            font-size: 0.75rem;
          }
        }
        button.close_panorama {
          font-size: 0.75rem;
          right: 10px;
          left: initial;
          bottom: 10px;
          margin: 0;
        }
      }
      .gallery_nav {
        .container-fluid {
          padding: 0 10px;
          .gallery_thumbnails.slick-slider.details_gallery_thumbnails {
            margin-top: 10px;
            .slick-list .slick-track .slick-slide {
              padding: 0 5px;
              height: 50px;
              &.slick-current:before {
                width: calc(100% - 10px);
                left: 5px;
              }
            }
          }
        }
      }
      >.container-fluid {
        padding: 0;
        .properties_container {
          padding: 0 5px 10px;
        }
      }
    }
  }

  section.object_info_section {
    .outer_block_container {
      .inner_block_container {
        padding: 15px;
        .object_details_container {
          padding-left: 0;
        }
      }
    }
  }

  section.agent_info_section {
    .outer_block_container {
      margin-top: 10px;
      .inner_block_container {
        padding: 15px;
        .object_info {
          text-align: center;
          .object_id {
            font-size: 1rem;
            line-height: 1rem;
            margin-bottom: 0;
          }
          .object_price {
            float: none;
            margin: 15px auto;
            font-size: 1rem;
          }
          button.btn {
            margin-right: 0;
          }
        }
      }
    }
  }

  section.location_section {
    .map_container {
      #object_map {
        height: 532px;
      }
      .map_sidebar {
        padding: 15px;
        ul {
          li {
            .checkbox_container {
              label.checkbox_label {
                width: 35px;
                height: 35px;
                span {
                  left: 35px;
                  line-height: 35px;
                }
                &:hover {
                  span {
                    padding: 0 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .btn:not(.dropdown-toggle) {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }

  section.contact_form_section {
    .outer_block_container {
      .inner_block_container {
        padding: 15px;
        h2 {
          font-size: 1.5rem;
          margin-bottom: 15px;
        }
      }
    }
  }

  section.team_info_section {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  }

  section.team_members_section {
    .outer_block_container {
      margin-top: 20px;
      .inner_block_container {
        padding: 15px;
        .info_container {
          margin: 0;
          h4 {
            font-size: 1.25rem;
            margin-top: 30px;
            text-align: center;
          }
          ul {
            li {
              text-align: center;
            }
          }
        }
        a.btn {
          font-size: 0.875rem;
          padding: 0 20px;
        }
      }
    }
  }

  section.results_section {
    .view_type_container {
      .view_type li {
        width: 50%;
      }
    }
    .results_container {
      &.grid_view,
      &.map_view {
        .container-fluid {
          .object_block_container {
            .object_block {
              margin: 10px 0 70px;
              height: calc(100% - 80px);
              .img_block {
                .gallery_view {
                  ul.gallery {
                    li {
                      img {
                        max-height: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.map_view {
        .container-fluid {
          .results_carousel {
            .object_block_container {
              .object_block {
                .img_block {
                  .gallery_view {
                    ul.gallery {
                      li {
                        img {
                          height: 250px;
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    nav {
      ul.pagination {
        li {
          a.page-link {
            width: 32px;
          }
        }
      }

    }
  }

  .agent_info_block {
    .agent_img {
      float: none;
      text-align: center;
      margin: 0 0 20px 0;
    }
    .agent_info {
      float: none;
      text-align: center;
      p {
        font-size: 0.875rem;
      }
      p.agent_name {
        font-size: 1.125rem;
        line-height: 1.125rem;
        margin-top: 15px;
      }
      ul {
        li {
          font-size: 0.85rem;
        }
      }
    }
  }

  /* Bootstrap modal popup START*/
  .modal {
    .vertical-alignment-helper {
      .modal-dialog {
        .modal-content {
          .modal-body {
            padding: 15px;
          }
        }
      }
    }
  }
  /* Bootstrap modal popup END*/
}