/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url("/fonts/opensans/light/opensans_light.eot");
  src: url("/fonts/opensans/light/opensans_light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/light/opensans_light.woff") format("woff"), url("/fonts/opensans/light/opensans_light.ttf") format("truetype"), url("/fonts/opensans/light/opensans_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url("/fonts/opensans/regular/opensans_regular.eot");
  src: url("/fonts/opensans/regular/opensans_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/regular/opensans_regular.woff") format("woff"), url("/fonts/opensans/regular/opensans_regular.ttf") format("truetype"), url("/fonts/opensans/regular/opensans_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url("/fonts/opensans/semibold/opensans_semibold.eot");
  src: url("/fonts/opensans/semibold/opensans_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/semibold/opensans_semibold.woff") format("woff"), url("/fonts/opensans/semibold/opensans_semibold.ttf") format("truetype"), url("/fonts/opensans/semibold/opensans_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold*/
h1 {
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccac83; }

.title_container {
  position: relative;
  margin-bottom: 30px; }
  .title_container a {
    position: absolute;
    right: 0;
    top: -7px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccac83;
    color: #ccac83; }
    .title_container a:hover {
      color: #fdfdfd; }

section.news_list_section {
  margin-top: 40px; }
  section.news_list_section .outer_block_container {
    margin-bottom: 30px; }
    section.news_list_section .outer_block_container .inner_block_container {
      padding: 20px 20px; }
      section.news_list_section .outer_block_container .inner_block_container .article_info_block {
        display: table;
        width: 100%; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img {
          float: left;
          margin-right: 30px; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_img img {
            border: 1px solid #ccac83;
            height: 100%; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info a {
          display: table; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info a h2 {
            margin: 15px 0 15px;
            font-size: 1.1rem;
            line-height: 1.5rem;
            text-transform: uppercase;
            color: #fdfdfd; }
          section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info a:hover h2 {
            color: #ccac83; }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info h3 {
          font-size: 0.875rem;
          color: rgba(253, 253, 253, 0.4); }
        section.news_list_section .outer_block_container .inner_block_container .article_info_block .article_info p {
          font-size: 0.875rem; }
  section.news_list_section nav ul.pagination {
    margin-top: 10px; }
    section.news_list_section nav ul.pagination li ul.pages li {
      display: inline-block; }

section.news_admin_nav_section {
  margin-top: 40px; }

#news_admin .news_list_section .title_container a i {
  display: table;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
#news_admin .news_list_section .outer_block_container .inner_block_container {
  position: relative; }
  #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements {
    position: absolute;
    top: 10px;
    right: 12px; }
    #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements button, #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements a {
      color: #ccac83; }
      #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements button:hover, #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements a:hover {
        color: #fdfdfd; }
    #news_admin .news_list_section .outer_block_container .inner_block_container .edit_elements .edit_btn {
      margin-right: 8px; }
  #news_admin .news_list_section .outer_block_container .inner_block_container .article_info_block .article_info h3 {
    margin: 0; }
  #news_admin .news_list_section .outer_block_container .inner_block_container .published_label {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 0.875rem;
    color: #ccac83; }

.article_edit_section {
  margin-top: 40px; }
  .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs {
    border: none;
    float: right;
    margin-bottom: 9px;
    margin-top: 5px; }
    .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item:not(:last-of-type) {
      margin-right: 10px !important; }
    .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 1;
      font-size: 0.875rem; }
      .article_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item a.nav-link.active {
        color: #ccac83;
        background: none; }
  .article_edit_section .outer_block_container .inner_block_container form .dropzone {
    background: transparent;
    border: 1px dashed #625e57;
    margin-top: 27px;
    min-height: 133px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .article_edit_section .outer_block_container .inner_block_container form .dropzone .dz-message {
      color: #625e57;
      margin: 0; }
    .article_edit_section .outer_block_container .inner_block_container form .dropzone .dz-preview {
      margin: 0 10px;
      min-height: 92px;
      background: transparent; }
      .article_edit_section .outer_block_container .inner_block_container form .dropzone .dz-preview .dz-image {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid #ccac83;
        width: 100px;
        height: 92px; }
  .article_edit_section .outer_block_container .inner_block_container form textarea {
    height: 133px; }
  .article_edit_section .outer_block_container .inner_block_container form button.btn {
    float: right; }

.gj-datepicker {
  width: 100%; }
  .gj-datepicker .gj-textbox-md {
    border: 1px solid #625e57;
    padding: 0 12px;
    width: 100%;
    background-color: transparent;
    color: #fdfdfd;
    font-size: 0.875rem;
    font-family: 'opensans_light'; }
    .gj-datepicker .gj-textbox-md:focus {
      border: 1px solid #625e57; }
  .gj-datepicker .datepicker_btn {
    width: 42px;
    height: 42px;
    color: #625e57;
    padding: 11px;
    font-size: 21px;
    border-left: 1px solid #625e57; }

.gj-calendar-md {
  background: #272727;
  color: #fdfdfd;
  border-color: #625e57;
  font-family: 'opensans_light'; }
  .gj-calendar-md table tr th div i {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 2px; }
  .gj-calendar-md table tr td div {
    border: 1px solid transparent; }
  .gj-calendar-md table tr td[type="today"] div {
    color: #ccac83; }
  .gj-calendar-md table tr td[type="selected"] div {
    background: transparent;
    border-color: #ccac83;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .gj-calendar-md table tr td[type="other-month"] div {
    opacity: 0.4;
    color: #fdfdfd; }
  .gj-calendar-md table tr td.gj-cursor-pointer div:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #ccac83; }
  .gj-calendar-md table tr td.gj-cursor-pointer[type="today"] div:hover {
    color: #fdfdfd; }

section.article_section {
  margin-top: 40px; }
  section.article_section .outer_block_container .inner_block_container {
    position: relative; }
    section.article_section .outer_block_container .inner_block_container .social_networks_share {
      position: absolute;
      right: 17px;
      top: 12px; }
    section.article_section .outer_block_container .inner_block_container h1 {
      padding-right: 65px; }
    section.article_section .outer_block_container .inner_block_container h2 {
      font-size: 0.875rem;
      margin-top: 10px;
      color: rgba(253, 253, 253, 0.4); }
    section.article_section .outer_block_container .inner_block_container .img_container {
      margin: 40px 0;
      text-align: center; }
    section.article_section .outer_block_container .inner_block_container p {
      text-align: justify;
      font-size: 0.9rem; }

/*# sourceMappingURL=news.css.map */
