@import "fonts";
@import "variables";


h1 {
  font-size: 1.25rem;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccac83;
}

section.news_list_section {
  margin-top: 10px;
  .outer_block_container {
    margin-top: 30px;
    .inner_block_container {
      padding: 20px 20px;
      .article_info_block {
        display: table;
        width: 100%;
        .article_img {
          float: left;
          margin-right: 30px;
          img {
            border: 1px solid $main_brown_clr;
            height: 100%;
          }
        }
        .article_info {
          a {
            display: table;
            h2 {
              margin: 15px 0 15px;
              font-size: 1.563rem;
              line-height: 1.563rem;
              text-transform: uppercase;
              color: $main_light_clr;
            }
            &:hover {
              h2 {
                color: $main_brown_clr;
              }
            }
          }
          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

section.news_admin_nav_section {
  margin-top: 40px;
}

#news_admin {
  .news_list_section {
    .outer_block_container {
      .inner_block_container {
        position: relative;
        button {
          position: absolute;
          color: $main_brown_clr;
          top: 10px;
          &.edit_btn {
            right: 35px;
          }
          &.remove_btn {
            right: 10px;
          }
          &:hover {
            color: $main_light_clr;
          }
        }
      }
    }
    a.btn {
      float: right;
      margin-top: 30px;
    }
  }
}
#news_edit {
  .outer_block_container {
    margin-top: 30px;
  }
}
//#categories {
//  .outer_block_container {
//    margin-top: 30px;
//    .inner_block_container {
//      ul {
//        li {
//          display: table;
//          width: 100%;
//          color: $main_brown_clr;
//          &:not(:last-of-type) {
//            margin-bottom: 15px;
//          }
//          span {
//            display: block;
//            width: calc(100% - 21px);
//            float: left;
//            position: relative;
//            overflow: hidden;
//            &:after {
//              content: '';
//              height: 2px;
//              width: 100%;
//              border-bottom: 1px solid #444;
//              position: absolute;
//              bottom: 2px;
//              margin-left: 4px;
//            }
//          }
//        }
//      }
//      button.remove_btn {
//        float: right;
//        color: $main_brown_clr;
//        &:hover {
//          color: $main_light_clr;
//        }
//      }
//      form {
//        button {
//          margin-top: 20px;
//        }
//      }
//    }
//  }
//}

.article_edit_section {
  .outer_block_container {
    .inner_block_container {
      form {
        .dropzone {
          background: transparent;
          border: 1px dashed $main_gray_clr;
          margin-top: 27px;
          min-height: 133px;
          display: flex;
          align-items: center;
          justify-content: center;
          .dz-message {
            color: $main_gray_clr;
            margin: 0;
          }
          .dz-preview {
            margin: 0 10px;
            min-height: 92px;
            background: transparent;
            .dz-image {
              @include my_border_radius(0);
              border: 1px solid $main_brown_clr;
              width: 100px;
              height: 92px;
            }
          }
        }
        textarea {
          height: 133px;
        }
        button.btn {
          float: right;
        }
      }
    }
  }
}


//Datepicker START
.gj-datepicker {
  width: 100%;
  .gj-textbox-md {
    border: 1px solid $main_gray_clr;
    padding: 0 12px;
    width: 100%;
    background-color: transparent;
    color: $main_light_clr;
    font-size: 0.875rem;
    font-family: 'opensans_light';
    &:focus {
      border: 1px solid $main_gray_clr;
    }
  }
  .datepicker_btn {
    width: 42px;
    height: 42px;
    color: $main_gray_clr;
    padding: 11px;
    font-size: 21px;
    border-left: 1px solid $main_gray_clr;
  }
}
.gj-calendar-md {
  background: $main_dark_clr;
  color: $main_light_clr;
  border-color: $main_gray_clr;
  font-family: 'opensans_light';
  table tr {
    th {
      div {
        i {
          font-weight: bold;
          font-size: 18px;
          position: relative;
          top: 2px;
        }
      }
    }
    td {
      div {
        border: 1px solid transparent;
      }
      &[type="today"] div {
        color: $main_brown_clr;
      }
      &[type="selected"] div {
        background: transparent;
        border-color: $main_brown_clr;
        @include my_border_radius(0);
      }
      &[type="other-month"] {
        div {
          opacity: 0.4;
          color: $main_light_clr;
        }
      }
      &.gj-cursor-pointer {
        div:hover {
          @include my_border_radius(0);
          background: $main_brown_clr;
        }
        &[type="today"] {
          div:hover {
            color: $main_light_clr;
          }
        }
      }
    }
  }
}
//Datepicker END

section.article_section {
  margin-top: 40px;
  .outer_block_container {
    .inner_block_container {
      .img_container {
        text-align: center;
      }
      p {
        text-align: justify;
        font-size: 0.9rem;
      }
    }
  }
}