@import "fonts";
@import "variables";
@import "forms";

section.search_section {
  margin-top: 30px;
}

section.results_section {
  margin-top: 40px;
  h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .view_type_container {
    .view_type {
      width: 100%;
      max-width: 800px;
      margin: 0;
      display: table;
      li {
        float: left;
        width: 33.333333%;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid $main_brown_clr;
        border-right: none;
        i.icn {
          font-size: 16px;
          margin-right: 10px;
        }
      }
      li:last-of-type {
        border-right: 2px solid $main_brown_clr;
      }
      li.active {
        background-color: $main_brown_clr;
        color: white;
      }
    }
  }

  @import "results_objects";

  nav {
    display: table;
    margin: 0 auto;
    ul.pagination {
      border: 1px solid $main_divider_clr;
      border-radius: 0;
      margin: 20px 0 0;
      li {
        a.page-link {
          background-color: transparent;
          padding: 0;
          height: 40px;
          width: 37px;
          line-height: 40px;
          text-align: center;
          border: none;
          border-radius: 0;
          color: $main_light_clr;
          font-size: 18px;
          &:focus,
          &:hover {
            color: $main_brown_clr;
            background-color: transparent;
            border: none;
            font-size: 20px;
            text-decoration: none;
          }
          &[aria-label="Previous"],
          &[aria-label="Next"] {
            font-size: 8px;
            line-height: 42px;
            color: $main_divider_clr;
          }
        }
        &.active {
          .page-link {
            background-color: transparent;
            font-size: 22px;
            color: $main_brown_clr;
          }
        }
      }
    }
  }
}