/* BEGIN Light*/
@font-face {
  font-family: 'opensans_light';
  src: url("/fonts/opensans/light/opensans_light.eot");
  src: url("/fonts/opensans/light/opensans_light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/light/opensans_light.woff") format("woff"), url("/fonts/opensans/light/opensans_light.ttf") format("truetype"), url("/fonts/opensans/light/opensans_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'opensans_regular';
  src: url("/fonts/opensans/regular/opensans_regular.eot");
  src: url("/fonts/opensans/regular/opensans_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/regular/opensans_regular.woff") format("woff"), url("/fonts/opensans/regular/opensans_regular.ttf") format("truetype"), url("/fonts/opensans/regular/opensans_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'opensans_semibold';
  src: url("/fonts/opensans/semibold/opensans_semibold.eot");
  src: url("/fonts/opensans/semibold/opensans_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/semibold/opensans_semibold.woff") format("woff"), url("/fonts/opensans/semibold/opensans_semibold.ttf") format("truetype"), url("/fonts/opensans/semibold/opensans_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold*/
/*Buttons style START*/
button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fdfdfd;
  padding: 0;
  font: 1rem opensans_regular; }

.btn:not(.dropdown-toggle) {
  height: 50px;
  padding: 0 65px;
  font: 1.25rem opensans_light;
  line-height: 50px;
  border-radius: 0;
  background: #272727;
  color: #fdfdfd;
  position: relative;
  overflow: hidden;
  border: 1px solid #625e57;
  z-index: 1;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .btn:not(.dropdown-toggle):hover {
    border-color: #ccac83; }

.btn:not(.dropdown-toggle):before {
  content: '';
  position: absolute;
  background-color: #ccac83;
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn:not(.dropdown-toggle):hover:before {
  top: 0;
  left: 0; }

.btn.disabled {
  opacity: 0.5; }

/*Buttons style END*/
input,
textarea {
  border: 1px solid #625e57;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 0.875rem;
  font-family: 'opensans_light'; }

input {
  height: 42px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

textarea {
  height: 150px;
  padding: 12px;
  resize: none; }

button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #625e57 !important; }

a:focus {
  outline: none !important;
  box-shadow: none !important; }

.input_container {
  position: relative;
  background-color: #272727; }
  .input_container input {
    color: #fdfdfd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .input_container input:-webkit-autofill, .input_container input:-webkit-autofill:hover, .input_container input:-webkit-autofill:focus, .input_container input:-webkit-autofill:active {
      color: #fdfdfd !important;
      -webkit-box-shadow: 0 0 0 30px #272727 inset !important;
      -webkit-text-fill-color: #fdfdfd !important; }
  .input_container button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 40px;
    width: 40px;
    border: none;
    padding: 12px;
    background-color: #625e57;
    color: #fdfdfd;
    cursor: pointer; }
  .input_container .input_label {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #625e57; }
    .input_container .input_label span {
      text-transform: none; }
  .input_container label.error {
    color: #c54545;
    font-size: 0.75rem; }

sup {
  font-size: 0.650em; }

label.form_el_label {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ccac83;
  line-height: 12px; }
  label.form_el_label i.icn {
    font-size: 12px;
    margin-right: 5px;
    float: left; }
  label.form_el_label span {
    font-size: 1rem;
    line-height: 12px; }

/*Nav tabs styles START*/
ul.nav.nav-tabs {
  border: 1px solid #ccac83; }
  ul.nav.nav-tabs li.nav-item {
    width: 50%;
    margin: 0 !important;
    text-align: center; }
    ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 40px;
      padding: 0;
      font-size: 1.125rem;
      text-transform: uppercase;
      border: none;
      color: #fdfdfd;
      font-family: opensans_light, Raleway, sans-serif; }
      ul.nav.nav-tabs li.nav-item a.nav-link.active {
        color: #fdfdfd;
        border-radius: 0;
        background-color: #ccac83; }

/*Nav tabs styles END*/
/*Checkboxes styles START*/
.my_checkbox {
  float: left;
  min-height: 0; }
  .my_checkbox label {
    display: block;
    padding: 0 !important;
    position: relative;
    margin: 0; }
    .my_checkbox label input[type=checkbox] {
      display: none; }
    .my_checkbox label input[type="checkbox"] + span.fake_checkbox {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      border: none;
      background: transparent;
      cursor: pointer; }
      .my_checkbox label input[type="checkbox"] + span.fake_checkbox:before {
        content: "\e910";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox {
      background-position: 0 0;
      border-color: #625e57; }
      .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox:before {
        content: "\e90f";
        font-family: icomoon;
        color: #625e57;
        font-size: 20px; }
    .my_checkbox label .my_checkbox_text {
      font-size: 1rem;
      margin: 0 0 0 25px;
      line-height: 20px;
      display: inline-block;
      color: #fdfdfd; }
    .my_checkbox label .my_checkbox_text a {
      color: #f94c3f; }
    .my_checkbox label .my_checkbox_text a:hover {
      color: #f94c3f; }

/*Checkboxes styles END*/
/*Bootstrap select START*/
.multiselect-native-select .btn-group {
  width: 100%; }
  .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 40px;
    background-color: #272727;
    outline-offset: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: none; }
    .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
      position: absolute;
      top: 18px;
      right: 15px;
      left: initial;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
  .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727;
    width: 100%;
    min-width: 100%; }
    .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li {
      padding: 5px 0 5px 5px; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a {
        display: block;
        width: 100%;
        outline: none;
        color: #fdfdfd; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label {
          width: 100%;
          position: relative;
          padding: 0; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label input {
            display: none; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox {
            padding-left: 20px;
            line-height: 1rem; }
            .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox:before {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              font-family: 'icomoon' !important;
              content: "\e910";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 1rem; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a {
        color: #ccac83; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a label.checkbox:before {
          content: "\e90f"; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item {
        border-bottom: 1px solid #625e57; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item a label {
          font-weight: normal; }
  .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle {
    border-color: #625e57 !important; }
    .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle::after {
      top: 17px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.btn-group.bootstrap-select {
  width: 100%;
  font-size: 1rem;
  outline: none; }
  .btn-group.bootstrap-select .dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    text-transform: initial;
    color: #fdfdfd;
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 38px;
    background-color: #272727;
    outline-offset: 0; }
    .btn-group.bootstrap-select .dropdown-toggle::after {
      top: 20px;
      right: 15px;
      left: initial;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #625e57;
      border-width: 5px;
      margin: 0; }
    .btn-group.bootstrap-select .dropdown-toggle span.filter-option {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .btn-group.bootstrap-select .dropdown-toggle .bs-caret {
      display: none; }
    .btn-group.bootstrap-select .dropdown-toggle:focus, .btn-group.bootstrap-select .dropdown-toggle:active {
      outline: none !important; }
  .btn-group.bootstrap-select .dropdown-menu.open {
    border: 1px solid #625e57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #fdfdfd;
    background-color: #272727; }
    .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner {
      display: table; }
      .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li {
        padding: 5px; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a {
          display: block;
          width: 100%;
          outline: none; }
          .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
            color: #fdfdfd; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li.selected a {
          color: #fdfdfd; }
  .btn-group.bootstrap-select.dropup .dropdown-menu.open {
    border-bottom: none;
    border-top: 1px solid #625e57; }
  .btn-group.bootstrap-select.open .dropdown-toggle {
    border: 1px solid #625e57 !important; }
    .btn-group.bootstrap-select.open .dropdown-toggle::after {
      top: 13px;
      border-top-color: #625e57;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .btn-group.bootstrap-select.open .dropdown-menu.open {
    display: table; }
    .btn-group.bootstrap-select.open .dropdown-menu.open .bs-actionsbox button {
      font-size: 10px;
      padding: 0; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li:first-child {
    border-bottom: 1px solid #625e57; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 20px;
    position: relative; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
      color: #625e57; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check {
      margin: 0; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      margin: 0 10px 0 0;
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1rem;
      float: left; }
      .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark:before {
        content: "\e90f"; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li.selected a span.check-mark:before {
    content: "\e90e"; }

/*Bootstrap select END*/
.icn_container {
  display: table;
  float: left;
  opacity: 1;
  position: relative;
  cursor: default; }

.tooltipster-sidetip .tooltipster-box {
  background: #ccac83;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px -5px black;
  -moz-box-shadow: 0px 0px 20px -5px black;
  box-shadow: 0px 0px 20px -5px black; }
  .tooltipster-sidetip .tooltipster-box .tooltipster-content {
    padding: 0 15px 0;
    font-size: 0.875rem;
    line-height: 1.875rem; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #ccac83; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #ccac83; }

section.search_section {
  margin-top: 30px; }

section.results_section {
  margin-top: 40px; }
  section.results_section h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase; }
  section.results_section .view_type_container .view_type {
    width: 100%;
    max-width: 800px;
    margin: 0;
    display: table; }
    section.results_section .view_type_container .view_type li {
      float: left;
      width: 33.333333%;
      line-height: 38px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 1rem;
      cursor: pointer;
      border: 1px solid #ccac83;
      border-right: none; }
      section.results_section .view_type_container .view_type li i.icn {
        font-size: 16px;
        margin-right: 10px; }
    section.results_section .view_type_container .view_type li:last-of-type {
      border-right: 2px solid #ccac83; }
    section.results_section .view_type_container .view_type li.active {
      background-color: #ccac83;
      color: white; }
  section.results_section .results_container {
    width: 100%;
    display: initial;
    position: relative; }
    section.results_section .results_container .container-fluid .object_block_container {
      overflow: hidden; }
      section.results_section .results_container .container-fluid .object_block_container .object_block {
        width: 100%;
        position: relative; }
        section.results_section .results_container .container-fluid .object_block_container .object_block .img_block {
          width: 100%; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .img_block .activity_label,
          section.results_section .results_container .container-fluid .object_block_container .object_block .img_block .exclusive_label {
            position: absolute;
            padding: 9px 20px;
            font-size: 1rem;
            text-transform: uppercase;
            z-index: 1;
            background: rgba(39, 39, 39, 0.5); }
          section.results_section .results_container .container-fluid .object_block_container .object_block .img_block .virtual_tour_label_container {
            position: absolute;
            top: 0;
            right: 0;
            border-top: 90px solid #ccac83;
            border-left: 90px solid transparent; }
            section.results_section .results_container .container-fluid .object_block_container .object_block .img_block .virtual_tour_label_container .virtual_tour_label {
              position: absolute;
              right: 10px;
              top: -80px;
              z-index: 10; }
              section.results_section .results_container .container-fluid .object_block_container .object_block .img_block .virtual_tour_label_container .virtual_tour_label i {
                font-size: 35px; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .img_block img {
            display: block; }
        section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .title_container {
          display: table;
          width: 100%; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .title_container a {
            display: table;
            float: left; }
            section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .title_container a:hover {
              color: #ccac83; }
            section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .title_container a h2 {
              font-size: 1.563rem;
              text-transform: uppercase; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .title_container ul.social_networks_share {
            float: right;
            padding: 2px 0 0; }
        section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties {
          display: table;
          width: 100%; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li .icn_container {
            margin-right: 10px; }
            section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li .icn_container .icn {
              color: #ccac83;
              font-size: 20px;
              float: left; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li .prop_val {
            margin-top: 2px; }
        section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .description_container {
          display: table;
          width: 100%; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .description_container h3 {
            font-size: 1rem;
            margin: 0;
            text-transform: uppercase;
            color: #ccac83; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .description_container .object_description {
            width: 60%;
            float: left; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
            display: table;
            color: white;
            background: #ccac83;
            font-size: 20px;
            text-align: center;
            float: right;
            padding: 9px 15px 8px; }
        section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container {
          border-top: 1px solid #aaa296;
          margin-top: 20px;
          padding: 25px 10px 0; }
          section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li {
            display: inline-block;
            margin-right: 10%; }
            section.results_section .results_container .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li:last-of-type {
              margin: 0; }
    section.results_section .results_container #results_map {
      visibility: hidden; }
  section.results_section .results_container.list_view .container-fluid > .row {
    margin-left: -20px;
    margin-right: -20px; }
    section.results_section .results_container.list_view .container-fluid > .row .object_block_container {
      padding: 0 20px;
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block {
        border: 1px solid #625e57;
        margin-top: 50px;
        display: table; }
        section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block {
          position: absolute;
          height: 100%;
          overflow: hidden;
          float: left;
          width: 33%;
          cursor: pointer;
          top: -20px;
          left: -20px; }
          section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block img {
            display: block;
            float: left;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-height: 100%; }
          section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view {
            height: 100%; }
            section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider {
              height: 100%; }
              section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-arrow {
                position: absolute;
                top: 50%;
                margin-top: -16px;
                color: white;
                font-size: 30px;
                background: transparent;
                border: none;
                z-index: 99;
                cursor: pointer; }
                section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-arrow:hover {
                  -webkit-transform: scale(1.2);
                  -moz-transform: scale(1.2);
                  -ms-transform: scale(1.2);
                  -o-transform: scale(1.2);
                  transform: scale(1.2); }
                section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-arrow.slick-prev {
                  left: 10px; }
                section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-arrow.slick-next {
                  right: 10px; }
              section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-list {
                height: 100%; }
                section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-list .slick-track {
                  height: 100%; }
                  section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .img_block .gallery_view .gallery.slick-slider .slick-list .slick-track .slick-slide {
                    max-height: 100%;
                    overflow: hidden; }
        section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .info_block {
          float: left;
          width: 67%;
          margin-left: 33%;
          border-left: none;
          padding: 25px 20px 25px 0; }
          section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a h2 {
            margin-bottom: 15px; }
          section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .info_block .description_container .object_description {
            font-size: 14px;
            margin-top: 15px; }
          section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .info_block .description_container .btn {
            height: 50px;
            line-height: 50px;
            padding: 0 30px;
            float: right; }
          section.results_section .results_container.list_view .container-fluid > .row .object_block_container .object_block .info_block .description_container .object_price {
            margin-top: 15px;
            padding: 9px 30px 8px; }
      section.results_section .results_container.list_view .container-fluid > .row .object_block_container:first-of-type .object_block {
        margin-top: 30px; }
  section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block,
  section.results_section .results_container.map_view .container-fluid .object_block_container .object_block {
    margin: 30px 0 85px;
    height: calc(100% - 115px); }
    section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block,
    section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block {
      height: 100%; }
      section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block .gallery_view,
      section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block .gallery_view {
        height: 100%; }
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery {
          height: 100%; }
          section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery li,
          section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery li {
            height: 100%; }
            section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery li.no_image,
            section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery li.no_image {
              border: 1px solid #ccac83; }
            section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery li img,
            section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block .gallery_view ul.gallery li img {
              width: 100%;
              height: 100%;
              max-height: 400px; }
      section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .img_block .gallery_view .result_preview_gallery li:not(:first-child),
      section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .img_block .gallery_view .result_preview_gallery li:not(:first-child) {
        display: none; }
    section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container,
    section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container {
      position: absolute;
      bottom: -70px;
      width: 100%;
      z-index: 2;
      padding: 0 20px; }
      section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block,
      section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block {
        padding: 30px 30px 20px;
        background-color: #272727;
        -webkit-box-shadow: 0 0 20px -2px black;
        -moz-box-shadow: 0 0 20px -2px black;
        box-shadow: 0 0 20px -2px black; }
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .title_container a h2,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .title_container a h2 {
          margin-bottom: 5px; }
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container h3,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container h3 {
          width: 50%;
          float: left; }
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container .object_price,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container .object_price {
          background: transparent;
          padding: 0;
          line-height: 20px; }
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container p.object_description,
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container a.btn,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container p.object_description,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .description_container a.btn {
          display: none; }
        section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container,
        section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container {
          padding: 0;
          margin-top: 10px; }
          section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container ul.properties,
          section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container ul.properties {
            width: auto;
            margin: 15px auto 0; }
            section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container ul.properties li,
            section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container ul.properties li {
              margin-right: 15px;
              display: inline-block; }
              section.results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container ul.properties li .property_container,
              section.results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block_container .info_block .properties_container ul.properties li .property_container {
                display: table;
                margin: 0 auto; }
  section.results_section .results_container.map_view {
    height: 640px; }
    section.results_section .results_container.map_view #results_map {
      visibility: visible;
      height: 640px;
      margin: 30px 0 40px; }
    section.results_section .results_container.map_view .container-fluid .results_carousel .object_block_container .object_block {
      margin-top: 0; }
      section.results_section .results_container.map_view .container-fluid .results_carousel .object_block_container .object_block .img_block .gallery_view ul.gallery li {
        overflow: hidden; }
        section.results_section .results_container.map_view .container-fluid .results_carousel .object_block_container .object_block .img_block .gallery_view ul.gallery li img {
          height: 400px;
          min-width: 100%;
          width: auto; }
    section.results_section .results_container.map_view .container-fluid .results_carousel ul.slick-dots {
      display: table;
      width: calc(100% - 30px);
      margin: 15px auto 0; }
      section.results_section .results_container.map_view .container-fluid .results_carousel ul.slick-dots li {
        display: table-cell;
        font-size: 0; }
        section.results_section .results_container.map_view .container-fluid .results_carousel ul.slick-dots li button {
          width: 100%;
          color: transparent;
          background-color: #625e57;
          height: 2px;
          border: none;
          padding: 0;
          font-size: 0;
          line-height: 0; }
        section.results_section .results_container.map_view .container-fluid .results_carousel ul.slick-dots li.slick-active button {
          height: 4px;
          background-color: #aaa296; }
    section.results_section .results_container.map_view nav {
      display: none; }
  section.results_section nav {
    display: table;
    margin: 0 auto; }
    section.results_section nav ul.pagination {
      border: 1px solid #aaa296;
      border-radius: 0;
      margin: 20px 0 0; }
      section.results_section nav ul.pagination li a.page-link {
        background-color: transparent;
        padding: 0;
        height: 40px;
        width: 37px;
        line-height: 40px;
        text-align: center;
        border: none;
        border-radius: 0;
        color: #fdfdfd;
        font-size: 18px; }
        section.results_section nav ul.pagination li a.page-link:focus, section.results_section nav ul.pagination li a.page-link:hover {
          color: #ccac83;
          background-color: transparent;
          border: none;
          font-size: 20px;
          text-decoration: none; }
        section.results_section nav ul.pagination li a.page-link[aria-label="Previous"], section.results_section nav ul.pagination li a.page-link[aria-label="Next"] {
          font-size: 8px;
          line-height: 42px;
          color: #aaa296; }
      section.results_section nav ul.pagination li.active .page-link {
        background-color: transparent;
        font-size: 22px;
        color: #ccac83; }
  section.results_section #results_map .gm-style-iw {
    width: 300px !important;
    top: 20px !important;
    left: -145px !important; }
    section.results_section #results_map .gm-style-iw .infowindow_container {
      width: 300px; }
      section.results_section #results_map .gm-style-iw .infowindow_container .object_img {
        position: relative;
        width: 300px;
        height: 200px;
        overflow: hidden;
        background-color: #272727; }
        section.results_section #results_map .gm-style-iw .infowindow_container .object_img img {
          position: absolute;
          max-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          margin: 0 auto; }
      section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container {
        width: 300px; }
        section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info {
          padding: 20px 15px 20px 15px; }
          section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info a {
            display: table;
            font-size: 1rem; }
          section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info .subtitle span {
            font-size: 0.75rem; }
          section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info .properties_block {
            margin-top: 5px; }
            section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info .properties_block .properties {
              margin: 7px auto 0; }
              section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info .properties_block .properties li {
                font-size: 0.75rem;
                margin-right: 10px; }
                section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info .properties_block .properties li:last-child {
                  margin-right: 0; }
                section.results_section #results_map .gm-style-iw .infowindow_container .object_info_container .object_info .properties_block .properties li .icn_container .icn {
                  margin-right: 7px; }
      section.results_section #results_map .gm-style-iw .infowindow_container button.slick-arrow {
        z-index: 9999999;
        font-size: 22px;
        top: initial;
        bottom: 5px; }
        section.results_section #results_map .gm-style-iw .infowindow_container button.slick-arrow.slick-prev {
          left: 10px; }
        section.results_section #results_map .gm-style-iw .infowindow_container button.slick-arrow.slick-next {
          right: 10px; }
      section.results_section #results_map .gm-style-iw .infowindow_container ul.slick-dots {
        position: absolute;
        display: table;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 5px; }
        section.results_section #results_map .gm-style-iw .infowindow_container ul.slick-dots li {
          display: inline-block;
          line-height: 6px;
          margin-right: 2px; }
          section.results_section #results_map .gm-style-iw .infowindow_container ul.slick-dots li:last-of-type {
            margin-right: 0; }
          section.results_section #results_map .gm-style-iw .infowindow_container ul.slick-dots li button {
            border: none;
            padding: 0;
            font-size: 0;
            line-height: 0;
            background-color: #625e57;
            height: 6px;
            width: 6px; }
          section.results_section #results_map .gm-style-iw .infowindow_container ul.slick-dots li.slick-active button {
            background-color: #aaa296; }
  section.results_section .slick-track {
    min-width: 100%; }
