@import "fonts";
@import "variables";
@import "forms";

section.search_section {
  margin-top: 30px;
}

section.results_section {
  margin-top: 40px;
  h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .view_type_container {
    .view_type {
      width: 100%;
      max-width: 800px;
      margin: 0;
      display: table;
      li {
        float: left;
        width: 33.333333%;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid $main_brown_clr;
        border-right: none;
        i.icn {
          font-size: 16px;
          margin-right: 10px;
        }
      }
      li:last-of-type {
        border-right: 2px solid $main_brown_clr;
      }
      li.active {
        background-color: $main_brown_clr;
        color: white;
      }
    }
  }
  .results_container {
    margin-top: 10px;
    width: 100%;
    display: table;
    position: relative;
    .container-fluid {
      .object_block_container {
        overflow: hidden;
        .object_block {
          width: 100%;
          display: table;
          position: relative;
          .img_block {
            width: 100%;
            .activity_label,
            .exclusive_label {
              position: absolute;
              padding: 9px 20px;
              font-size: 22px;
              text-transform: uppercase;
              z-index: 1;
            }
            img {
              display: block;
            }
          }
          .info_block {
            .title_container {
              display: table;
              width: 100%;
              a {
                display: table;
                float: left;
                &:hover {
                  color: $main_brown_clr;
                }
                h2 {
                  font-size: 1.563rem;
                  text-transform: uppercase;
                }
              }
              ul.social_networks {
                display: table;
                float: right;
                padding: 2px 0 0;
                li {
                  float: left;
                  margin-right: 10px;
                  &:last-child {
                    margin: 0;
                  }
                  a {
                    color: $main_light_clr;
                    i.icn {
                      font-size: 14px;
                    }
                    &:hover {
                      color: $main_brown_clr;
                    }
                  }
                }
              }
            }
            .properties_container {
              ul.properties {
                display: table;
                width: 100%;
                li {
                  .icn_container {
                    display: table;
                    float: left;
                    opacity: 1;
                    position: relative;
                    cursor: default;
                    .icn {
                      margin-right: 10px;
                      color: $main_brown_clr;
                      font-size: 20px;
                      float: left;
                    }
                  }
                  .prop_val {
                    margin-top: 2px;
                  }
                }
              }
            }
            .description_container {
              display: table;
              width: 100%;
              h3 {
                font-size: 1rem;
                margin: 0;
                text-transform: uppercase;
                color: $main_brown_clr;
              }
              .object_description {
                width: 60%;
                float: left;
              }
              .object_price {
                display: table;
                color: white;
                background: $main_brown_clr;
                font-size: 20px;
                text-align: center;
                float: right;
                padding: 9px 15px 8px;
              }
            }
            .properties_container {
              border-top: 1px solid $main_divider_clr;
              margin-top: 20px;
              padding: 25px 10px 0;
              ul.properties {
                li {
                  display: inline-block;
                  margin-right: 10%;
                  &:last-of-type {
                    margin: 0;
                  }
                  .prop_title {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    #results_map {
      visibility: hidden;
    }
  }
  .results_container.list_view {
    .container-fluid {
      >.row {
        margin-left: -20px;
        margin-right: -20px;
        .object_block_container {
          padding: 0 20px;
          width: 100%;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          .object_block {
            border: 1px solid $main_gray_clr;
            margin-top: 50px;
            .img_block {
              position: absolute;
              height: 100%;
              overflow: hidden;
              float: left;
              width: 33%;
              cursor: pointer;
              top: -20px;
              left: -20px;
              img {
                display: block;
                float: left;
                height: auto;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
              }
              .gallery_view {
                height: 100%;
                .gallery.slick-slider {
                  height: 100%;
                  .slick-arrow {
                    position: absolute;
                    top: 50%;
                    margin-top: -16px;
                    color: white;
                    font-size: 30px;
                    background: transparent;
                    border: none;
                    z-index: 99;
                    cursor: pointer;
                    &:hover {
                      @include my_transform(scale(1.2));
                    }
                    &.slick-prev {
                      left: 10px;
                    }
                    &.slick-next {
                      right: 10px;
                    }
                  }
                  .slick-list {
                    .slick-track {
                      .slick-slide {
                        max-height: 100%;
                        overflow: hidden;
                      }
                    }
                  }
                }
              }
            }
            .info_block {
              float: left;
              width: 67%;
              margin-left: 33%;
              border-left: none;
              padding: 25px 20px 25px 0;
              .title_container {
                a {
                  h2 {
                    margin-bottom: 15px;
                  }
                }
              }
              .description_container {
                .object_description {
                  font-size: 14px;
                  margin-top: 15px;
                }
                .btn {
                  height: 50px;
                  line-height: 50px;
                  padding: 0 30px;
                  float: right;
                }
                .object_price {
                  margin-top: 15px;
                  padding: 9px 30px 8px;
                }
              }
            }
          }
        }
      }

    }
  }

  .results_container.grid_view,
  .results_container.map_view {
    .container-fluid {
      .object_block_container {
        .object_block {
          margin-bottom: 75px;
          margin-top: 20px;
          .img_block {
            img {
              width: 100%;
            }
            .gallery_view {
              .result_preview_gallery {
                li:not(:first-child) {
                  display: none;
                }
              }
            }
          }
          .info_block_container {
            position: absolute;
            bottom: -70px;
            width: 100%;
            z-index: 2;
            padding: 0 20px;
            .info_block {
              padding: 30px 30px 20px;
              background-color: $main_dark_clr;
              @include my_box_shadow(0 0 20px -2px black);
              .title_container {
                a {
                  h2 {
                    margin-bottom: 5px;
                  }
                }
              }
              .description_container {
                h3 {
                  width: 50%;
                  float: left;
                }
                .object_price {
                  background: transparent;
                  padding: 0;
                  line-height: 20px;
                }
                p.object_description,
                a.btn {
                  display: none;
                }
              }
              .properties_container {
                padding: 15px 0 0;
                margin-top: 10px;
                ul.properties {
                  li {
                    margin: 0;
                    display: table-cell;
                    .property_container {
                      display: table;
                      margin: 0 auto;
                    }
                  }
                }

              }
            }
          }
        }
      }
    }
  }
  .results_container.map_view {
    height: 640px;
    #results_map {
      visibility: visible;
      height: 640px;
      margin-bottom: 40px;
    }
    .container-fluid {
      .results_carousel {
        .object_block_container {
          .object_block {
            margin-top: 0;
          }
        }
        ul.slick-dots {
          display: table;
          width: 100%;
          margin-top: 25px;
          li {
            display: table-cell;
            font-size: 0;
            button {
              width: 100%;
              color: transparent;
              background-color: $main_gray_clr;
              height: 2px;
              border: none;
              padding: 0;
              font-size: 0;
              line-height: 0;
            }
            &.slick-active {
              button {
                height: 4px;
                background-color: $main_divider_clr;
              }
            }
          }
        }
      }
    }
    nav {
      display: none;
    }
  }

  nav {
    display: table;
    margin: 0 auto;
    ul.pagination {
      border: 1px solid $main_divider_clr;
      border-radius: 0;
      margin: 20px 0 0;
      li {
        a.page-link {
          background-color: transparent;
          padding: 0;
          height: 40px;
          width: 45px;
          line-height: 40px;
          text-align: center;
          border: none;
          border-radius: 0;
          color: $main_light_clr;
          font-size: 18px;
          &:focus,
          &:hover {
            color: $main_brown_clr;
            background-color: transparent;
            border: none;
            font-size: 20px;
            text-decoration: none;
          }
          &[aria-label="Previous"],
          &[aria-label="Next"] {
            font-size: 8px;
            line-height: 42px;
            color: $main_divider_clr;
          }
        }
        &.active {
          .page-link {
            background-color: transparent;
            font-size: 22px;
            color: $main_brown_clr;
          }
        }
      }
    }
  }
}